[submodule "themes/hyde-x"]
	path = themes/hyde-x
	url = https://github.com/zyro/hyde-x
[submodule "themes/flexible-seo-hugo"]
	path = themes/flexible-seo-hugo
	url = https://github.com/pjbakker/flexible-seo-hugo.git
[submodule "themes/hugo-module-tnd-imgix"]
	path = themes/hugo-module-tnd-imgix
	url = https://github.com/theNewDynamic/hugo-module-tnd-imgix
