.git_old
.direnv
data/mostread.json
data/trending.json
data/ytd.json
newsletter_id.txt
_cache
__pycache__
assets/css/ampcssframework/
.externalToolBuilders
.hugo_build.lock
.prettierrc
.project
.sass-cache
.env
.settings
resources
*.ipynb
amazon*
prince-engine/ 
fonts/
./newsletter.*
*.zip
*.pdf
assets/css/tw.css
temp*
test*
hash.json
package-lock.json 
node_modules
.ipynb_checkpoints
public
cache
.DS_Store
wp
assets/css/bootstrap*
migrate.ipynb
hugo.log
# Local Netlify folder
.netlify
*.pdf
