
{{- $src := .Destination  -}}
{{- $src = index (split $src "?") 0 -}}
{{- $title := .Title  -}}
{{- $alt := .Text  -}}


{{- if findRE "/img/" $src -}}
{{- if not (fileExists $src) -}}
{{- warnf "BROKEN.IMG:\t%s\t%s" $.Page.File.Path $src -}}
{{- end -}}
{{- else -}}
{{- warnf "BROKEN.IMG:\t%s\t%s" $.Page.File.Path $src -}}
{{- end -}}

{{- with .Destination  -}}   
  {{- $args := querify "w" 696 "nf_resize" "fit" -}}
  {{- $src = printf "%s?%s" ( . | absURL ) $args  -}}
{{- end  -}}


<aside class="bg-white mb-3 float-lg-right ml-lg-5 mt-1" style="width: 400px; margin-right:-244px;">
<img 
  src="{{- $src -}}"
  class="w-100 d-block"

  {{- with $title  -}}
    alt="{{- .  -}}"
  {{- end  -}}
/>
  {{- with $alt  -}}
  <div class="text-smaller text-muted py-2">
     {{- .  | markdownify  -}}
  </div>
  {{- end  -}}
</aside>