
{{ $src := false }}
{{ $title := false }}
{{ $alt := false }}

{{/* If we have a .Destination, we can process everything. */}}
{{ with .Destination }}
   
  {{ $args := querify "w" 696 "nf_resize" "fit"}}
  {{ $src = printf "%s?%s" . $args }}
  
  {{/* If we have a .Title we use it */}}
  {{ with $.Title }}
    {{ $title = . }}
  {{ end }}
  
  {{/* If we have a .Text we use it */}}
  {{ with $.Text }}
    {{ $alt = . }}
  {{ end }}
{{ end }}


<div class="bg-white shadow my-5">
<img 
  src="{{ $src }}"
  class="w-100"

  {{ with $title }}
    alt="{{ . }}"
  {{ end }}
/>
  {{ with $alt }}
  <div class="text-smaller p-4">
     {{ .  | markdownify }}
  </div>
  {{ end }}
</div>