


{{ define "main" }}


{{ $featured := partial "getpages" .Params.Articles.Featured }}
{{ $mistake := partial "getpages" .Params.Articles.Mistakes }}
{{ $pushback := partial "getpages" .Params.Articles.Pushback }}

{{ $used := $featured | union $mistake }}

{{ $latest := first 10 (where .Site.RegularPages ".Params.categories" "intersect" (slice "gae") | complement $used ) }}


<div class="gae-header-bg shadow" style="z-index:100;position: relative;">
<div class="container">
  <div class="row pt-5 pb-5">

    <div class="col-lg-6 text-center text-lg-right">
    
      <a href='https://www.amazon.com/Genealogical-Adam-Eve-Surprising-Universal/dp/0830852638/?tag=swamidass-20'>
      <img class="gae-cover shadow" src='{{ partial `imgcdn` `/img/design/gae-cover-swamidass.jpg` }}' width="240" height="360">
      </a>
          
    </div>
    <div class="col-lg-6 text-larger pt-5 text-white">
      <h2 class="text-white  pb-2"> The Genealogical Adam & Eve </h2>
      <p> The best science <br> is opening up space <br> to engage larger questions <br> together... 
      
      <p>     <a href="/pdf/genealogical-adam-eve-errata-jan2021.pdf" class="mt-5 btn btn-dark">Erratum</a>

    </div>
    
  </div>
</div>
</div>

<div style="background-color: #eee;">
<div class="container pt-3" role="main">
    <div class="row justify-content-center">
      {{ partial "heading" (dict "Text" "A Pushback on Overreach" "Class" "heading-black"   ) }}

      {{ range $pushback }}
        {{ .Render "mediabox1" }}
      {{ end }}
    </div>
</div>
</div>


<div style="background-color: white;">
<div class="container pt-3" role="main">
    <div class="row justify-content-center">
      {{ partial "heading" (dict "Text" "A Growing Conversation" "Class" "heading-black"  "Link" ("/categories/gae/" | absURL)  ) }}

      {{ range $featured }}
        {{ .Render "mediabox1" }}
      {{ end }}
    </div>
</div>
</div>


<div style="background-color: #eee">
<div class="container pt-3" role="main">
    <div class="row justify-content-center">
      {{ partial "heading" (dict "Text" "Latest" "Class" "heading-black"  "Link" ("/categories/gae/" | absURL)  ) }}

      {{ range $latest }}
        {{ .Render "mediabox1" }}
      {{ end }}
    </div>
</div>
</div>


{{ end }}
