


{{ define "main" }}


{{ $featured := partial "getpages" .Params.Articles.Featured }}
{{ $mistake := partial "getpages" .Params.Articles.Mistakes }}
{{ $pushback :=   (site.GetPage "/series/biologos/").Pages.ByDate  }}

{{ $used := $featured | union $mistake }}

{{ $latest := first 12 (where .Site.RegularPages ".Params.categories" "intersect" (slice "gae") | complement $used ) }}


<div class="gae-header-bg shadow" style="z-index:5;position: relative;">


<div style="height: 40px; width: 100%"></div> 

<div class="container">
  <div class="row pt-5 pb-5">

    <div class="col-lg-6 text-center text-lg-right">
    
      <a href='https://www.amazon.com/Genealogical-Adam-Eve-Surprising-Universal/dp/0830852638/?tag=swamidass-20'>
      <img class="gae-cover shadow" src='{{ partial `imgcdn` `/img/design/gae-cover-swamidass.jpg` }}' width="240" height="360">
      </a>
          
    </div>
    <div class="col-lg-6 text-larger pt-5 text-white">
      <h2 class="text-white  pb-2"> The Genealogical Adam & Eve </h2>
      <p> The best science <br> is opening up space <br> to engage larger questions <br> together... 
      
      <p>     <a href="/pdf/genealogical-adam-eve-errata-jan2021.pdf" class="mt-5 btn btn-dark">Erratum</a>

    </div>
    
  </div>
</div>
</div>

<div style="background-color: #eee;">
<div class="container pt-3" role="main">
    <div class="row ">
       <div class="col-lg-8"> 
       <div class=" row">
      {{ partial "heading" (dict "Text" "A Pushback " "Class" "heading-black"  "Link" "/series/biologos/" ) }}

      {{ range  $pushback | first 2 }}
      
              {{ partial "render" (dict "Page" .  "Style" "vertical" "Layout"  "col-lg-6" ) }}
      
      {{ end }}
      {{ range  $pushback | after 2 }}
      
              {{ partial "render" (dict "Page" .  "Style" "horizontal" "Layout"  "col-lg-6" "Hide" "image") }}
      
      {{ end }}
        </div>
        </div>
       <div class="col-lg-4 bg-white shadow pt-2"> 
       <div class=" row">
      {{ partial "heading" (dict "Text" "Errata and Mistakes" "Class" "heading-red"  "Link"  (absURL "/pdf/genealogical-adam-eve-errata-jan2021.pdf") ) }}

      {{ range $mistake | first 1 }}

              {{ partial "render" (dict "Page" .  "Style" "vertical" "Layout"  "col-12" ) }}
      {{ end }}
      {{ range $mistake | after 1 }}

              {{ partial "render" (dict "Page" .  "Style" "vertical" "Layout"  "col-12" "Hide" "image") }}
      {{ end }}
        </div>
        </div>
    </div>
</div>
</div>




<div style="background-color: #eee	;">
<div class="container pt-3" role="main">
    <div class="row ">
      {{ partial "heading" (dict "Text" "A Growing Conversation" "Class" "heading-black"  "Link" ("/categories/gae/" | absURL)  ) }}

      {{ range $featured }}

              {{ partial "render" (dict "Page" .  "Style" "vertical" "Layout"  "col-lg-3" ) }}
            {{ end }}
    </div>
</div>
</div>


<div style="background-color: white">
<div class="container pt-3" role="main">
    <div class="row ">
      {{ partial "heading" (dict "Text" "Latest" "Class" "heading-black"  "Link" ("/categories/gae/" | absURL)  ) }}

      {{ range $latest }}

              {{ partial "render" (dict "Page" .  "Style" "horizontal" "Layout"  "col-lg-4" "Hide" "image") }}
            {{ end }}
    </div>
</div>
</div>


{{ end }}
