<!DOCTYPE html>
<html lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {{- partial "head.html" . -}}
    {{- block "head" . -}}{{- end }}
  </head>
  <body vocab="http://purl.org/dc/terms/">
{{ if not .Site.IsServer }}
<!-- Google Tag Manager (noscript) -->
<noscript style="display:none;visibility:hidden"><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KDF8R85"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{ end }}

  
{{ partial "nav.html" . -}}


{{- block "background" . }}{{- end }}

{{ if eq .Params.background "green-hex" }}
  {{ $srcpng := partial "imgurl" (dict "src"  "/img/design/green-hex.svg" "loc" $.Path ) }}
  <img
    class="panimate"
    style="background-color: #030; position: fixed; z-index: -1; 
 top: 0px; left: 0px; width: 100vw; height: 100vh;object-fit: cover;
 object-position: 10% 50%;user-select: none;"
    src="{{ $srcpng  | partial `imgcdn` }}"
  />
{{ end }}


<div id="content" style="position: relative; z-index: 2; isolation: isolate">
      {{- block "main" . }}{{- end }}
</div>

    {{- partial "footer.html" . -}}
</body>
</html>
