<!DOCTYPE html>

{{ range .Aliases }}
  {{ $p := site.GetPage . }}
 
  {{ if not (eq $p $) }}
  {{ end }}
{{ end }}

<html lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage;" style="overscroll-behavior: none; overflow-x: hidden">
  <head>
    {{- partial "head.html" . -}}
    {{- block "head" . -}}{{- end }}   
  </head>
  
  <body vocab="http://purl.org/dc/terms/" style="overscroll-behavior: none; overflow-x: hidden">
  


<div id="app" style="transition: 1s">
  
{{ if not .Site.IsServer }}
<!-- Google Tag Manager (noscript) -->
<noscript style="display:none;visibility:hidden"><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KDF8R85"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{ end }}

{{ partial "nav.html" . -}}
<div style="z-index: -1; isolation: isolate">
{{- block "background" . }}{{- end }}
</div>
<div id="content" style="position: relative; z-index: 2; isolation: isolate">
  {{- block "main" . }}{{- end }}
</div>
{{- partial "footer.html" . -}}

{{ partial "modal-subscribe" . }} 

</div>


<div id=video-container class="text-white" > 
     <div id="video-frame" class="m-0 px-2" style="max-width: 100vw; height: auto; aspect-ratio: 16/ 9"></div>
     
     <div id="video-control-center" class="text-dark ">
       <i onclick="ShrinkVideo()" class=" fas fa-arrow-down pointer shrink-hide circle-icon"></i>
       <i onclick="UnshrinkVideo()" class="fas fa-arrow-up pointer shrink-show circle-icon"></i>
     </div>    
     
     <div id="video-control-right" class="text-dark ">
       <i onclick="CloseVideo()" class="fas fa-times pointer shrink-hide circle-icon"></i>
    </div>
     
   <div id="video-id" class="d-none"></div>
</div>

    
 <script render remove>
    for (E of document.querySelectorAll("[href^='#']")) {
    	E.setAttribute("data-turbo", false);
    }
</script>
</body>
</html>
