{{ define "head" }}
  {{ partial "jsonld" . }}  
{{ end }}



{{ define "main" }}
{{ $layout := .Params.design.layout | default "col-6 col-md-4"  }}
{{ $style := .Params.design.style | default "vertical" }}
{{ $paginator := .Paginate (partial "listpages" .) }}

  <div class="bg-white">
    <div style="height: 40px; width: 100%"></div>

    <div class="container">
      <div id="post-list" class="row pt-5 pb-5 ">
        <header class="col-12 pb-5">
          <h1 class="py-3">{{ .Title }}</h1>

          <div style="max-width: 600px">
            {{- .Content -}}
          </div>
        </header>

        <div class="col-12 justify-content-center mt-3 d-none">
          {{ template "_internal/pagination.html" . }}
        </div>        

        {{- range $paginator.Pages  -}}
          {{ partial "render" (dict "Page" .  "Style" $style "Layout"  $layout  ) }}
        {{ end -}}

        <div class="col-12 justify-content-center mt-3 d-none">
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>
  <script>
    let infScroll = new InfiniteScroll("#post-list", {
      append: "article",
      path: "[aria-label=Next]",
    });
  </script>
{{ end }}
