{{ define "main" }}
{{- $showBreadcrumbs := $.Params.showBreadcrumbs | default $.Site.Params.showBreadcrumbs | default true }}
{{- $showGeneratedList := $.Params.showGeneratedList | default $.Site.Params.showGeneratedList | default true }}
{{- $showItemMeta := $.Params.showItemMeta | default $.Site.Params.showItemMeta | default true }}


<div class="bg-white">

<header class="gae-header-bg shadow" style="z-index:100;position: relative; z-index: 2">


<div style="height: 40px; width: 100%"></div> 


<div class="container">
  <div class="row pt-5 pb-5 justify-content-center text-white">

  {{ $title := .Title }}
  {{- with .Content }}
  <div class="col-7">
        <h1 class="text-white  display-2"> {{ $title }} </h1> 
  </div>
  <div class="col-lg-5">
        {{- . -}}
  </div>
  {{ else }}
  <div class="col-12">
        <h1 class="text-white  display-2"> {{ $title }} </h1> 
  </div>
  {{- end }}

  </div>
</div>
</header>



<div class="container">
  <div class="row justify-content-center">
  </div>
  {{ if eq $showGeneratedList true -}}
    <div class="row justify-content-center mt-3 d-none">
      <div class="col-lg-12">
		{{ template "_internal/pagination.html" . }}
      </div>
    </div>

    <div  id="post-list" class="row justify-content-start mt-3">
        {{ range .Paginator.Pages }}
           {{ partial "render" (dict "Page" .  "Style" "vertical" "Layout"  "col-md-4" "Hide" "lazy" ) }}
        {{ end }}
    </div>
    <div   class="row justify-content-center mt-3 d-none">
      <div class="col-lg-12">
		{{ template "_internal/pagination.html" . }}
      </div>
    </div>
    {{- end }}
</div>

</div>
<script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>
<script>
let infScroll = new InfiniteScroll( '#post-list', {
	append: "article",
	path: "[aria-label=Next]"
	
})
</script>


{{ end }}
