{{ define "main" }}
{{- $showBreadcrumbs := $.Params.showBreadcrumbs | default $.Site.Params.showBreadcrumbs | default true }}
{{- $showGeneratedList := $.Params.showGeneratedList | default $.Site.Params.showGeneratedList | default true }}
{{- $showItemMeta := $.Params.showItemMeta | default $.Site.Params.showItemMeta | default true }}


<div class="bg-white" >

<div style="height: 40px; width: 100%"></div> 

<header>

  
<div class="container">
  <div id="post-list"  class="row pt-5 pb-5 ">




<header class="col-12 pb-5" >
   
        <h1 class="py-3"> {{ .Title }} </h1> 
       
       
       <div style="max-width: 600px">
          {{- .Content -}}
          </div>
          
  </header>

  {{ if eq $showGeneratedList true -}}
    <div class="row justify-content-center mt-3 d-none">
      <div class="col-lg-12">
		{{ template "_internal/pagination.html" . }}
      </div>
    </div>

        {{ range .Paginator.Pages }}
           {{ partial "render" (dict "Page" .  "Style" "vertical" "Layout"  "col-6 col-md-4" "Hide" "lazy" ) }}
        {{ end }}

    <div   class="row justify-content-center mt-3 d-none">
      <div class="col-lg-12">
		{{ template "_internal/pagination.html" . }}
      </div>
    </div>
    {{- end }}
</div>
  
  </div>


  </div>
</div>


</div>
<script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.min.js"></script>
<script>
let infScroll = new InfiniteScroll( '#post-list', {
	append: "article",
	path: "[aria-label=Next]"
	
})
</script>


{{ end }}
