{{- $src := true -}}
{{- with .Params.headerImage.Src -}}

  {{- $args := querify  "nf_resize" "fit" "w" 696 "h" 392 -}}
  {{- $src = printf "%s?%s" (. | absURL) $args  -}}
  
{{- end -}}  

<article class="col-md-4 d-flex p-3  text-smaller">

  <div>
  
  <a href="{{.Permalink}}">
  <div class="aspect-wide-screen flex-shrink-0 rounded mb-1 d-print-none w-100" style=" background-position: center; background-image: url('{{$src}}')"> </div>
  </a>
  
    <a class="title d-block" href="{{.Permalink}}"> {{ .Params.page_title | default .Title | markdownify  }}</a> 

    <span class="text-smaller pr-2 text-muted">
    {{- with .Params.authors }}
      {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize (index . 0))) }}
        <a class="author text-muted" href="{{ .Permalink }}"> {{ .Title }}</a>
      {{- end }}
        {{- with index . 1 }}, et al.{{- end }} 
    {{- end }}
    </span>

    <span class="text-muted article-date text-smaller"> {{ .PublishDate.Format "January 2, 2006" }} <span>

    <span class="d-block excerpt"> {{ .Params.description }} </span>

    {{- range .Params.categories }}
      {{- with $.Site.GetPage "taxonomyTerm" (printf "categories/%s" (urlize .)) }}
        <a class="tag-link" href="{{ .Permalink }}"> {{ .Title }} </a>
      {{- end }}
    {{- end }}
  </div>
</article>
