

<article class="col-6 col-md-3 d-flex p-3  text-smaller">

  <div class="w-100">
  
  
  <a href="{{.Permalink}}"> 
  <div class="w-100 aspect-wide-screen flex-shrink-0 mb-1 rounded d-print-none" style="background-image: url('{{.Params.headerImage.Src}}?resize=696%2C392&ssl=1')"> </div>
  </a>
   
    <a class="title d-block" href="{{.Permalink}}"> {{ .Params.page_title | default .Title  | safeHTML }} </a>

    <span>
    {{- with .Params.authors }}
      {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize (index . 0))) }}
        <a class="pr-2 author text-muted text-smaller" href="{{ .Permalink }}"> {{ .Title }} 
      {{- end }}
        {{- with index . 1 }}et al.{{- end }} </a>
    {{- end }}
    </span>

    <span class="text-muted article-date text-smaller"> {{ .PublishDate.Format "January 2, 2006" }} <span> <br>

  </div>
</article>



