{{- $src := true -}}
{{- with .Params.headerImage.Src -}}

  {{- $args := querify  "nf_resize" "smartcrop" "w" 696 "h" 392 -}}
  {{- $src = printf "%s?%s" (. | absURL) $args  -}}
  
{{- end -}}  

<article class="col-12 d-flex p-3  text-smaller">

  <a href="{{.Permalink}}"> 
  <div class="aspect-wide-screen flex-shrink-0 mr-3 rounded mb-1 d-print-none" style="width: 160px; background-position: center; background-image: url('{{$src}}')"> </div>
  </a> 
         
  <div>  
  
  
    <a class="title d-block"  href="{{.Permalink}}"> {{ .Params.page_title | default .Title | markdownify  }} </a>

    <span>
    {{- with .Params.authors }}
      {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize (index . 0))) }}
        <a class="pr-2 author text-muted text-smaller" href="{{ .Permalink }}"> {{ .Title }} 
      {{- end }}
        {{- with index . 1 }}et al.{{- end }} </a>
    {{- end }}
    </span>

    <span class="text-muted article-date text-smaller"> {{ .PublishDate.Format "January 2, 2006" }} <span>

    <span class="d-block excerpt"> {{ .Params.description }} </span>

    {{- range .Params.categories }}
      {{- with $.Site.GetPage "taxonomyTerm" (printf "categories/%s" (urlize .)) }}
        <a class="tag-link" href="{{ .Permalink }}"> {{ .Title }} </a>
      {{- end }}
    {{- end }}
  </div>
</article>