{{- $src := true -}}
{{- with .Params.headerImage.Src -}}

  {{- $args := querify  "nf_resize" "smartcrop" "w" 696 "h" 392 -}}
  {{- $src = printf "%s?%s" (. | absURL) $args  -}}
  
{{- end -}}  
 

<article class="col-6 col-md-3 d-flex p-3  text-smaller">

  <div class="w-100"> 
  
  <a href="{{.Permalink}}"> 
  <div class="w-100 aspect-wide-screen flex-shrink-0 mb-1 rounded d-print-none" style=" background-position: center; background-image: url('{{$src}}')"> </div>
  </a>
   
    <a class="title d-block" href="{{.Permalink}}"> {{ .Params.page_title | default .Title  | markdownify  }} </a>

    <span>
    {{- with .Params.authors }}
      {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize (index . 0))) }}
        <a class="pr-2 author text-muted text-smaller" href="{{ .Permalink }}"> {{ .Title }} 
      {{- end }}
        {{- with index . 1 }}et al.{{- end }} </a>
    {{- end }}
    </span>

    <span class="text-muted article-date text-smaller"> {{ .PublishDate.Format "January 2, 2006" }} <span> <br>

  </div>
</article>