{{ define "head" }}
  {{ partial "jsonld" . }}
{{ end }}

{{ define "main" }}
  {{ $PAGES := partialCached "byviews" . }}

  {{ with .Description }}
    {{ if in . "..." }}
      {{ warnf "DESC.ELLIPSE\t%s" $.Path }}
    {{ end }}
  {{ end }}

  {{ with .Content }}
    {{ if in . "::" }}
      {{ warnf "CONTENT.COLONS\tcontent/%s" $.Path }}
    {{ end }}
  {{ end }}

  {{ with .Content }}
    {{ if or ( in . "^") ( in (replace .  "style>*" "style>ASTERIX" ) "*") }}
      {{ warnf "CONTENT.FORMATTING \tcontent/%s" $.Path }}
    {{ end }}
  {{ end }}

  {{ $headerpos :=  .Params.headerImage.Position | default "main" }}
 
  <div class="bg-white">
    <div class="d-print-none" style="height: 80px; width: 100%"></div>

    <article class="article-grid pb-5">
      <header class="article-header"  id="pageHeader">
        <div class="d-print-block d-none mb-5 font-special" style="font-size: 2em" property="publisher">
          Peaceful Science
        </div>

        {{ with .PublishDate }}
          <a
            href="{{ printf `%scommits/master/content/%s` site.Params.baseGitHub $.Path  | safeURL }}"
            rel="”nofollow”"
            target="_blank"
            class="font-special py-1 text-decoration-none text-muted d-inline"
          >
              {{ .Format "January 2, 2006" }}
              
              {{ $lastmod := partial "lastmod" $ }}
              {{ $day := div (sub  $lastmod.Unix $.Date.Unix  ) 86400 }}

              {{ if (gt  2 $day) }}
               <i class="fa fa-history pl-3 d-print-none" style="color: #ccc" ></i>
              {{ end }}
          </a>

          {{ with $.Scratch.Get "Views" }}
            <div
              class="view-count d-inline d-print-none float-right text-right"
            >
              {{ lang.FormatNumber 0 . }}
            </div>
          {{ end }}
        {{ end }}

        <h1 id="title" property="title" class="article-title mt-2">
          {{- .Params.page_title | default .Title | markdownify -}}
        </h1>

        <div property="description" class="d-print-none  article-description mb-3">
          {{- .Description | markdownify -}}
        </div>

        <div class="mb-2 pr-1">
          {{- partial "authors" (dict "page" . "class" "text-decoration-none") -}}
        </div>

        {{- if eq "main" $headerpos -}}
          <div class="pb-2">
            {{- with .Params.headerImage }}

              {{- $src := partial "imgurl" (dict "src"  .src "loc" $.Path ) -}}

              {{- with .youtube }}
                {{ partial `youtube` (slice  . ($src  | partial `imgcdn`)  ) }}
              {{- else -}}
                <img 
                  src="{{ $src  | partial `imgcdn` }}?imgeng=/w_auto,1200/"
                  class="webfeedsFeaturedVisual"
                  style="width: 100%; height: auto"
                  {{- with (index site.Data.imgsize $src) }}
                    width="600" height="{{ div (mul .height 600) .width }}"
                  {{ end -}}
                />
              {{- end -}}

            {{- end -}}
            {{- with .Params.headerImage.Credit }}
              <div class="text-muted text-smaller w-100 text-right">
                {{ $.RenderString . }}
              </div>
            {{- end }}
          </div>
        {{- end -}}


        <div class="mb-5">
          {{ with .Params.doi }}
            {{ $doi := . }}
            {{ with $.Params.pdf }}
               {{ partial "doiurl" (slice $doi ( . | absURL ) ) }}
            {{ else }}          
              {{ partial "doi" $doi }}
            {{ end }}
          {{ else }}
            {{ with $.Params.pdf }}
            
            {{ end }}
          {{ end }}
          {{- range .Params.categories }}
            {{- with site.GetPage "taxonomyTerm" (printf "categories/%s" (urlize .)) }}
              {{- if not (.Params.hidden | default false ) -}} 
                <a class="tag-link d-print-none" href="{{ .Permalink }}"> {{ .Title }} </a>
              {{ end }}
            {{- end }}
          {{- end }}

        </div>
      </header>
      <div class="article-body pb-5">
      <main style="position:relative">
        {{ with  .Params.series }}
          {{ with site.GetPage ( printf "/series/%s" . ) }}
            <aside class="d-print-none series aside-xl-right bg-white text-smaller">
              {{ $page := default nil }}
              
                {{- range (partial "listpages" . ) }}
                  {{ if eq $ $page }}
                    <p> Next in series:
                    <a  class="font-special d-block" href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
                  {{ end }}
                  {{ if and (eq $ .) $page }}
                    <p> Previous in series: 
                    <a class="font-special d-block" href="{{ $page.Permalink }}">{{ $page.Title | markdownify }}</a>
                  {{ end }}
                  {{ $page = . }}
                {{ end }}  
                <p> The full series: <a  class="font-special d-block" href="#article-series-this">{{ .Title | markdownify }}</a>
                

            </aside>
          {{ end }}
        {{ end }}

        {{ $content := .Content }}
        {{ range .Scratch.Get "postproc" }}
          {{ $content = partial . (dict "Content" $content "Page" $) }} 
        {{ end }}
        {{ $content }}
        
        
        {{ partial "linklist" . }}

        {{ with .Params.fullurl }}

          <a
            class="my-5 btn btn-primary external-link text-decoration-none"
            target="_blank"
            href="{{ . }}"
          >
            Read Full Article
          </a>
        {{ end }}
        
        {{ range .Params.endnote }}
          <div class="mt-5 editor-note">
            {{ . | markdownify }}
		  </div>
        {{ end }}
        </main>        
        
        {{ with  .Params.series }}
          {{ with site.GetPage ( printf "/series/%s" . ) }}              <p>

            <aside id="article-series" class="expand-right d-print-none mt-5  pt-5  bg-white">
            
            
              <div class="row">
              {{ partial "heading" (dict "Text" (.Title | markdownify) "Link" .Permalink  "Class" "heading-black text-decorations-none") }}
              {{ with .Content | default .Description }}
                <div class="col-12">
                  {{ . }}
                </div>
              
              {{ end }}
                {{- range  (partial "listpages" . )  }}
                  {{ $args := (dict "Page" . "Layout" "col-12" "Hide" "categories") }}
                  {{ if eq $ . }}
                    {{ $args = merge  $args (dict "Id" "article-series-this" "CStyle" "background: #efefef ")   }}
                  {{ end }} 
                  {{ partial "render" $args }}
                {{ end }}
              </div>
            </aside>
            
          {{ end }}
        {{ end }}
        <aside class="mt-5 d-none d-print-block text-center expand-right editor-note">
            
            This article is available at: <br><a href="{{ .Permalink }}">{{ .Permalink }}</a>
            
        </aside>

      </div>

      <div
        class="left-sidebar d-print-none"
        style="height: 100%; position: relative; isolation: isolate; z-index: 4;"
      >
        <div
          class="hover-front position-sticky"
          style="top: 60px; width: 100%;"
        >
          <nav
            class="toc navbar pr-0 pt-5"
            style="overflow-y: auto;  max-height: calc(100vh - 55px) "
          >
            {{ .Page.TableOfContents | replaceRE "<li>" "<li class='nav-item'>"  | replaceRE "<ul>" "<ul class='nav'>"  | replaceRE  "<nav .*?>"  ""  | replaceRE  "</nav>"  ""| replaceRE "<a " "<a class='nav-link' "   | safeHTML }}
            <svg
              class="toc-marker"
              width="200"
              height="200"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke="#080"
                stroke-width="3"
                fill="transparent"
                stroke-dasharray="0, 0, 0, 1000"
                stroke-linecap="round"
                stroke-linejoin="round"
                transform="translate(-0.5, -0.5)"
              />
            </svg>
          </nav>

          {{ .Scratch.Add "js" (slice "/js/navprogress.js") }}

        </div>
        <div
          class="d-none d-md-block"
          style="z-index: 10; position: absolute; bottom: 0px; width: 100%; height: min(80%,  200vh); background-image: linear-gradient(#fff0,#ffff); pointer-events: none"
        ></div>
      </div>
    </article>

    {{ if not (in  .Params.design.hide "joinconversation" ) }}

      <aside
        class="mt-5 py-5 comment-block d-print-none bg-white"
        style="z-index:4"
      >
        <div class="container">
          <div class="row justify-content-center py-3 my-3 text-larger">
            <div class="col-lg-4 text-center text-lg-right">
              {{ $src := `/img/design/wood-chair-transparent.png` }}
              <img
                src="{{ partial `imgcdn` $src }}"
                height="240"
                loading="lazy"
                {{- with (index site.Data.imgsize $src) }}
                  width="{{ div (mul .width 240) .height }}"
                {{ end -}}
              />
            </div>
            <div class="col-lg-8 py-3 text-center text-lg-left">
              <h3>Join the conversation...</h3>

              <p>
                Come to understand and to be understood. <br />
                Whatever your personal beliefs, we saved a chair for you.
              </p>

              <p>
                {{ with .Params.commenturl -}}
                  <a
                    href="{{ . | safeURL }}"
                    rel="ugc"
                    target="_blank"
                    class="font-special my-3 btn btn-primary btn-md"
                    >Discuss on Forum</a
                  >
                {{ end }}
                <a
                  href="{{ printf `%sedit/master/content/%s` site.Params.baseGitHub .Path | safeURL }}"
                  rel="”nofollow”"
                  target="_blank"
                  class="font-special my-3 btn btn-primary btn-md"
                  >Suggest Changes</a
                >
                <a
                  href="{{ printf `%scommits/master/content/%s` site.Params.baseGitHub .Path  | safeURL }}"
                  rel="”nofollow”"
                  target="_blank"
                  class="font-special my-3 btn btn-primary btn-md"
                  >Revision History</a
                >
              </p>
            </div>
          </div>
        </div>
      </aside>
    {{ end }}

    {{ with .Site.RegularPages.Related . }}
      <aside
        class="d-print-none"
        style="background-color: white; min-height:1000"
      >
      
        {{ $pages := . }}
        {{ with  $.Params.series }}
          {{ with site.GetPage ( printf "/series/%s" . ) }} 
            {{ $pages = $pages | complement .Data.Pages  }}
            {{ $pages = union $pages .Data.Pages }}
          {{ end }}
        {{ end }}
         
        <div class="container pt-5 ">
          <div class="row justify-content-center pb-5 text-larger">
            <div class="pt-3 col-12 text-center">
              <h1 class="mb-5">Related articles...</h1>
            </div>
            {{ range ( $pages | first 3  ) }}
              {{ partial "render" (dict "Page" .  "Style" "vertical" "Layout"  "col-md-4" ) }}
            {{ end }}

          </div>
        </div>
      </aside>
    {{ end }}
  </div>
  
<div id="footer" class="d-none" >
<div style="border-top: 1px solid; font-size: 10px; text-align: center;">
<div>           
         <img
              style="width: auto; height: 1.2em; float: left; "
              alt="Peaceful Science"
              src="{{ `/img/design/PS-logo-long-black.svg`  |  partial `imgcdn` }}"
            /></div>

<span class="pageNumber" ></span>

<div style="float: right; font-size: smaller;">{{with .Params.doi }}doi:{{ . }}{{ else }}.Permalink{{ end }}</div>

</div>
</div>
{{- end }}
