<mjml>
	<mj-head>
		<mj-style>
		
 .mybutton td a {
    background-color: white !important;
     color: black !important;
     font-family: AlverataSb,Arial,Sans-Serif !important
}
a {
    text-decoration: none;
     color:#060
}
.dark div {
    color: white !important
}
.dark a {
    color: #eee !important;
     text-decoration: underline
}
a.author {
    color: #060 !important
}
a:hover {
    text-decoration: underline
}
blockquote {
    border-left: 2px solid gray;
     padding-left: 0.5em;
     margin-left: 0.5em;
}
.mytable {
    line-height: unset
}
.article-title {
    font-family: AlverataSb,Arial,Sans-Serif;
    font-size:14px;
    line-height:1.2;
    padding-right:5px;
     font-weight: bold;
}
.article-date {
    color: #999;
     padding-left: 5px
}
.article-excerpt {
    font-family: Arial;
     color: #444;
     line-height: 1.2
}
.article-tag {
    font-family: AlverataSb,Arial;
     text-decoration:none;
    color: white;
     background: rgba(0,0,0,.3);
    padding: 4px;
     margin:0px 4px 4px 0px;
     display:inline-block;
    font-size: 11px
}
h1,h2,h3,h4,h5 {
    font-family: AlverataSb,Arial,Sans-Serif
}
.section-header {
    color:white;
    font-size:14px;
    margin:0px;
    padding:5px 5px 3px 5px;
     display: inline-block;
}
@font-face {
    font-family: AlverataSb;
     src: url(https://peacefulscience.org/font/alveratasb-webfont.woff2) format('woff2');
}
 		
		</mj-style>
	</mj-head>
	<mj-body background-color="#f1f1f1">
		<mj-section background-size="cover" background-url="https://8l2ic7fx.cdn.imgeng.in/img/design/green-hex.png" background-color="#020" padding="20px 0 20px 0" full-width="full-width">
			<mj-column>
				<mj-image align="center" width="420px" href="https://peacefulscience.org/" alt="Peaceful Science" src="https://8l2ic7fx.cdn.imgeng.in/img/design/PS-logo-long-white.png?w=696&nf_resize=fit"></mj-image>
			</mj-column>
		</mj-section>
		<mj-section padding="0px" background-color="black" full-width="full-width">
			<mj-column padding="0px">
				<mj-text align="center" color="white">
					<h2 style="{line-height: 1em;}">February 28, 2022</h2>
				</mj-text>
			</mj-column>
		</mj-section>
		<mj-section>
			<mj-column>
				<mj-text>
				
				   {{ .Content }}
				   
				</mj-text>
			</mj-column>
		</mj-section>
		<mj-section padding-bottom="0px" padding-top="40px">
			<mj-column>
				<mj-text padding-bottom="0px" padding-top="0px">
					<h4 style="background:#000" class="section-header">Related Articles</h4>
				</mj-text>
				<mj-divider border-color="#000" padding-bottom="0px" padding-top="0px" border-width="2px"></mj-divider>
			</mj-column>
		</mj-section>
		<mj-section padding="0px 25px 0px 25px">
			<mj-column padding="0px 0px 0px 0px" width="35%">
				<mj-image href="https://peacefulscience.org/articles/akaninyene-interview/" align="left" padding="10px 10px 5px 0px" src="https://8l2ic7fx.cdn.imgeng.in//img/2022/02/akaninyene.png?w=320&h=180&nf_resize=smartcrop" border-radius="5px"></mj-image>
			</mj-column>
			<mj-column padding="0px" width="65%">
				<mj-text padding="0px">
					<p style="padding:0 0 4px 0">
						<a href="https://peacefulscience.org/articles/akaninyene-interview/" class="article-title">Pursuing Justice in Public Health</a>
					</p>
					<div>
						<span class="article-author">Akaninyene Ruffin, 
							<i>et al.</i>
						</span>
						<span class="article-date">1645682400</span>
					</div>
					<p>
						<span class="article-excerpt">I went to Vanderbilt specifically to study the social determinants of health, specifically those related to outcomes of Black birthing folks.</span>
					</p>
				</mj-text>
			</mj-column>
			<mj-column padding="0px 0px 0px 0px" width="35%">
				<mj-image href="https://peacefulscience.org/prints/misreading-mlk/" align="left" padding="10px 10px 5px 0px" src="https://8l2ic7fx.cdn.imgeng.in//img/2022/02/ducksworth.png?w=320&h=180&nf_resize=smartcrop" border-radius="5px"></mj-image>
			</mj-column>
			<mj-column padding="0px" width="65%">
				<mj-text padding="0px">
					<p style="padding:0 0 4px 0">
						<a href="https://peacefulscience.org/prints/misreading-mlk/" class="article-title">(Mis)Reading Martin Luther King, Jr.</a>
					</p>
					<div>
						<span class="article-author">Aaron Ducksworth</span>
						<span class="article-date">1646028000</span>
					</div>
					<p>
						<span class="article-excerpt">Martin Luther King, Jr. was one of the most impactful theologians of the 20th century, but most Christians have never read his work. Here is how to read him.</span>
					</p>
				</mj-text>
			</mj-column>
			<mj-column padding="0px 0px 0px 0px" width="35%">
				<mj-image href="https://peacefulscience.org/articles/sierra-nance-interview/" align="left" padding="10px 10px 5px 0px" src="https://8l2ic7fx.cdn.imgeng.in//img/2022/02/hbcu.jpeg?w=320&h=180&nf_resize=smartcrop" border-radius="5px"></mj-image>
			</mj-column>
			<mj-column padding="0px" width="65%">
				<mj-text padding="0px">
					<p style="padding:0 0 4px 0">
						<a href="https://peacefulscience.org/articles/sierra-nance-interview/" class="article-title">Entering Science from a Historically Black University</a>
					</p>
					<div>
						<span class="article-author">Sierra A. Nance, 
							<i>et al.</i>
						</span>
						<span class="article-date">1644127200</span>
					</div>
					<p>
						<span class="article-excerpt">I was not afforded the same opportunities for research as students who went to other institutions. My knowledge and abilities were questioned because I went to a smaller, less well-known HBCU.</span>
					</p>
				</mj-text>
			</mj-column>
		</mj-section>
		<mj-section>
			<mj-column>
				<mj-spacer height="40px"></mj-spacer>
			</mj-column>
		</mj-section>
		<mj-section full-width="full-width" background-color="#dfdfdf">
			<mj-column>
				<mj-text>
					<p>
*|IF:PATREON>0|*
  
						<strong>Thank you</strong> for supporting our work as one of our patrons
  
						<a href="https://www.patreon.com/peacefulscience">($*|PATREON|* per month).</a>
  I am very grateful to you.
*|ELSE:|*
  
						<strong>Would you 
							<a href="https://www.patreon.com/peacefulscience">become one of our patrons?</a>
						</strong>
  Access exclusive benefits and support our mission for $1, $5, or $10 per month.
*|END:IF|*
					</p>
				</mj-text>
			</mj-column>
		</mj-section>
		<mj-section full-width="full-width" background-color="#333">
			<mj-column>
				<mj-text align="center" css-class="dark">
					<p>*|LIST:DESCRIPTION|* 
						<br />
						<br />*|HTML:LIST_ADDRESS_HTML|* 
						<a href="*|UNSUB|*">Unsubscribe</a> *|EMAIL|* from this list. | 
						<a href="*|FORWARD|*">Forward</a> this email to a friend | 
						<a href="*|UPDATE_PROFILE|*">Update your profile</a>
					</p>
				</mj-text>
			</mj-column>
		</mj-section>
	</mj-body>
</mjml>
