{{ define "main" }}

{{ $data := .Data }}
<div style="background: white">

<header class="gae-header-bg shadow" style="z-index:100;position: relative; z-index: 2">


<div style="height: 40px; width: 100%"></div> 


<div class="container">
  <div class="row pt-5 pb-5 justify-content-center text-white">

  {{ $title := .Title }}
  {{- with .Content }}
  <div class="col-7">
        <h1 class="text-white  display-2"> {{ $title }} </h1> 
  </div>
  <div class="col-lg-5">
        {{- . -}}
  </div>
  {{ else }}
  <div class="col-12">
        <h1 class="text-white  display-2"> {{ $title }} </h1> 
  </div>
  {{- end }}

  </div>
</div>
</header>


<div class="container py-5" role="main" >
  <div class="row">
        {{ range $key, $value := .Data.Terms.Alphabetical }}
          {{ $page := ($.Site.GetPage "taxonomyTerm" (printf "%s/%s" ($.Data.Plural) (urlize $value.Name)))  }}
          {{ $name := $page.Title | default ($value.Name | humanize) }}
          
          <div class="col-lg-6 py-1">

                <a href="{{ $page.Permalink }}"><h4>
                  {{ $name }}   
               
                </a>
           </div>

        {{ end }}
  </div>
</div>


</div>
{{ end }}
