@font-face {
   font-family: "AlverataSb";
   src: local("AlverataSb"), url("/font/alveratasb-webfont.woff2") format("woff2");
   font-display: swap;
}

$enable-negative-margins: true;
$primary: #008800;
$dark: #000000;
$enable-rounded: false; 


a.doi-badge {
 text-decoration: none;
 font-family: DejaVu Sans,Verdana,Geneva,sans-serif;
 text-shadow: 0px 1px #01010145;
 text-color: white;
 font-size: 11px;
 white-space: nowrap;
 span {font-size: 11px;}
 &:hover{text-decoration: none} 
}


.article-description {
  font-size: larger;
  max-width: 600px;
  @extend .text-muted;
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";


h1, h2, h3, h4, h5, h6, h7, h8 {
  color: black;
  position:relative;
  font-family: AlverataSb;
};

article {


h1, h2, h3, h4, h5, h6, h7, h8 {
  margin-left: -0.5rem;
  
  @include media-breakpoint-up(xl) {
    margin-left: -1rem;
	width: 137%;
	margin: $spacer -37% $spacer -1rem;
  }
};
}

ol li:not(:last-child) {
padding-bottom: 0.5rem;
}
article img { 
  width: 100%;
};



.font-special {
 font-family: AlverataSb;
}

.font-native {
 font-family: $font-family-sans-serif;
}

div.mce_inline_error {
	position: fixed;
  @extend .font-native;
  font-size: smaller;
}

#mc_embed_signup:not(:focus-within) {
  div.mce_inline_error,#mce-error-response,#mce-success-response  {
  display: none !important; }
}
  
.focus-front:focus-within {
 z-index: 1000;
}
  
  
  
.hover-front {
 transition-duration: 1s;
 &:hover {
 transition-duration: 1s;
 z-index: 1000;
 }
}

.hover-hide {
 transition-duration: 1s;
 &:hover {
 transition-duration: 1s;
 opacity: 0;
 }
}

#mce-error-response,#mce-success-response {
  @extend .font-native;
  @extend .p-5;
  position: fixed;
  
  background-color: white;
}



.navbar,.title,.author,.button,.label {
  font-family: AlverataSb;
  color: black;
  a:hover {color: #002200}
}


.dark {
.navbar,.title,.button,.label {
  @extend .text-light;
  a:hover {color: #002200}
}}



.aspect-wide-screen {
  height: 0;
  padding-top: 56.25%;
  background-size: cover;
}

.heading {
  font-family: AlverataSb;
  font-size:x-large;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  div,a,span,p {
    @extend .badge;
    @extend .p-1;
    @extend .px-3;

    line-height: inherit;
    vertical-align: bottom;
    margin: -3px;
    
  }
}

.heading-green {
  border-color: #007700;
  color: white;
  div,a,span,p,a:hover {
    background-color:  #007700;
    color: inherit;
  };
}

.heading-white {
  border-color: white;
  color: black;
  div,a,span,p,a:hover {
    background-color:  white;
    color: inherit;
  };
}

.dark  {
  .heading {
    @extend .heading-white;
  }
  a,span,div,p,a:hover,.tag-link {
    color: inherit
    }
  .text-muted {
    color: #999 !important;
  }
}

.heading-black {
  border-color: #000;
  color: white;
  div,a,span,p,a:hover {
    background-color:  #000;
    color: inherit;
  };
}


.heading-red {
  border-color: #800;
  color: white;
  div,a,span,p,a:hover {
    background-color:  #800;
    color: inherit;
  };
}

.heading-blue {
  border-color: #008;
  color: white;
  div,a,span,p,a:hover {
    background-color:  #008;
    color: inherit;
  };
}

.gae-cover:hover {
   transition-duration: 0.5s;
   filter: brightness(1.5);
}

a.external-link::after {
  content: ' \f35d';
  font-family: "Font Awesome 5 Free";
  font-style: normal;  
  font-weight:900;
  font-size:smaller;
  line-height: 1.1;
  white-space: nowrap;
}

.view-count::before {
  content: ' \f06e';
  font-family: "Font Awesome 5 Free";
  font-style: normal;  
  font-weight:900;
  line-height: 1.1;
  white-space: nowrap;
}

.view-count {
  font-size:smaller;
  @extend .text-muted;
}

a.forum-link::after {
  content: ' \f086';
  font-family: "Font Awesome 5 Free";
  font-style: normal;  
  font-weight:400;
  font-size:smaller;
  line-height: 1.1;
  white-space: nowrap;
}

.breadcrumb {
  background-color: transparent;
}

.excerpt {
  @extend .font-native;
  line-height: 1.1;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.text-white {
  h1,h2,h3,h4,h5,h6 {
    @extend .text-white;
  }
}
.text-smaller {
  font-size: smaller;
}
.text-larger {
  font-size: larger;
}

.shadow-inset {
box-shadow:   inset 0 0 1rem #000000;
}


.shake {
  animation: shaking 10s linear 0s infinite;
  
  &:focus-within {
    animation: none;
  }

}

.col-article {
  @extend .px-1;
  width: 530px;
  position: relative;
  
}

.col-left-side {
  @extend .px-1;
 width: 300px;
}

@keyframes pulse {
0% {background-color: black}
100% {background-color: #070}
}

@keyframes shaking {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  1% { transform: translate(-1px, -2px) rotate(-5deg); }
  2% { transform: translate(-3px, 0px) rotate(5deg); }
  3% { transform: translate(3px, 2px) rotate(0deg); }
  4% { transform: translate(1px, -1px) rotate(5deg); }
  5% { transform: translate(-1px, 2px) rotate(-5deg); }
  6% { transform: translate(-3px, 1px) rotate(0deg); }
  7% { transform: translate(3px, 1px) rotate(-1deg); }
  8% { transform: translate(-1px, -1px) rotate(1deg); }
  9% { transform: translate(1px, 2px) rotate(0deg); }
  
  10% { transform: translate(0px, 0px) rotate(0deg); }
  100% {}
}



.sidebar-section {
  position: absolute;
  height: 100%;
  width: 100%;
}


article p:last-child {
 margin-bottom: 0px;
}

.sidebar-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	/* Position the items */
	// &:nth-child(2) { top: 25%; }
	// &:nth-child(3) { top: 50%; }
	// &:nth-child(4) { top: 75%; }
}


.make-me-sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 120px;
  padding: 0 15px;
}

.tag-link {
  @extend .badge;
  @extend .text-dark;
  background-color: rgba(200,200,200,.5);
}

.breadcrumb-item {
  a {
    @extend .text-dark;
  }
}

.article-title {
  font-family: AlverataSb;
@extend .py-1;

}

.article-date {
 @extend .py-1;
 @extend .text-muted;
 font-family: AlverataSb !important;
}


article > p:not(.editor-note):first-of-type::first-letter, .dropcap::first-letter {
  @extend .font-special;

  margin: 0;
  font-size: 4em;
  line-height: 0.65;
  padding: 0.1em 0 0 0;

}

.btn, label {
@extend .font-special;
}

.dropcap{
  @extend .pt-3;
}

.article-question > p:first-of-type::first-letter {
  @extend .font-special;

  margin: 0;
  font-size: 1.4em;
  line-height: 0.65;
  padding: 0 0 0 0;

}

.expand-right {
  @include media-breakpoint-up(xl){
  margin-right: -37%;
  }
}

.article-question {
  @extend .font-special;
  @extend .expand-right;
  @extend .pb-3;
  
  @include media-breakpoint-up(xl) {
  
  p {margin-left: -1em; }
  }
  
  
  p {margin-left: -0.5em; }
  h1,h2,h3,h4,h5,h6,h7,h8 {
    @extend .hideme; 
  }
}

.footnotes {
  @extend .pt-5;
  @extend .expand-right;
  font-size: smaller; 
    line-height: 1.2;
}



.editor-note {
  background: #f2f2f2;
  font-size: smaller;
  @extend .expand-right;
  @extend .p-3;
  @extend .mb-3;
}

figcaption {
 background: #f6f6f6;
 @extend .p-2;
 @extend .text-muted;
 @extend .text-smaller;
}


@each $breakpoint in map-keys($grid-breakpoints) {


	.aside-#{$breakpoint}-wide {
	 display: block;
	 margin: $spacer auto $spacer auto;
	 float:none;
	 @extend .shadow;
	 width: 100%;
	 @include media-breakpoint-up($breakpoint) {
		width: 137%;
		margin: $spacer -37% $spacer 0px;

	 }
	}

	.aside-#{$breakpoint}-right {
	 display: block;
	 @extend .shadow;
	 margin: $spacer auto $spacer auto;
	 float:none;
	 width: 100%;
	 clear: both;
	@include media-breakpoint-up($breakpoint) {
		float: right;
		width: 75%;
		margin: $spacer -37% $spacer $spacer * 2;
	 }
	}

	.amazon-#{$breakpoint}-right {
	 display: block;
	 @extend .shadow;
	 margin: $spacer auto $spacer auto;
	 float:none;
	 width: 336px;
	 clear: both;
	 @include media-breakpoint-up($breakpoint) {
		float: right;
		width: 336px;
		margin: $spacer -37% $spacer $spacer * 2;
	 }
	}
}




.hideme {
pointer-events: none;
    height: 0px;
    z-index: -100px;
    color: transparent;
    background: transparent;
    user-select: none;
    @media (print) {display: none}
}



@include media-breakpoint-down(sm) {
  nav.navbar {
    position: fixed;
    right: 0;
    left: 0;   
    border-radius: 0;
    top: 0;
    z-index: 1000;
  }   
  body {
    margin-top: 50px;
  }  
}

.article-header-bg {
background: linear-gradient(160deg,#a5a5a5,#82a582);
}

.gae-header-bg {
background:  linear-gradient(-45deg,#262626,#6ea36a);
}


.comment-block {
background:  linear-gradient(0deg,#999,white);

}


svg:not(:root) {
  overflow: hidden;
}

[id] {
scroll-margin-top: 100px;
}

.footnote-ref, .footnote-backref  {
  background: #080;
  border-radius: 50%;
  color: white;

  height: 100%;
  padding: calc( 1rem / 2) calc( 1rem / 3) calc( 1rem / 2) calc( 1rem / 3);
  display: inline-block;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.footenote-ref {
  padding: calc( 1rem / 2) calc( 1rem / 3) calc( 1rem / 2) calc( 1rem / 3);
}

.footnote-backref {
  font-family: "Font Awesome 5 Free";
  font-style: normal;  
  font-weight:800;
  font-size: smaller;
  line-height: 1.1;
  white-space: nowrap;
  padding: calc( 1.2rem / 3) calc( 1rem / 3) calc( .5rem / 3) calc( 1rem / 3);
}


.toc {
 	@extend .make-me-sticky;
 	@extend .py-0;
    top: 100px;
    width: 100%;
    font-family: AlverataSb;
    font-size: smaller;
    

    
  ul {
    @extend .p-0;
    display: block;
    
    li li {
        @extend .pl-3;
    }

	a  {
    @extend .pl-1;
    @extend .pr-0;
    @extend .py-1;
    @extend .text-muted;

    }

    .active > a {
    @extend .text-dark;
  }  
    
 }
}

.toc-marker {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;

	path {
		transition: all 0.3s ease;
	}
}




.article-grid {

    display: grid;   
    grid-template-columns: 100%;
    grid-column-gap: 30px;


   @include media-breakpoint-up(md) {
    grid-template-columns: calc(25% + 80px) minmax(calc(75% - 120px), 576px) ;
   }
   
   @include media-breakpoint-up(xl) {
    grid-template-columns: calc(25% + 80px) minmax(300px, 576px) auto;
   }
}

.left-sidebar {
    @include media-breakpoint-up(md) {
        grid-row: 1/ span 2;
    }

}

.title-bar {
grid-column: 1;
   @extend .my-5;
   @extend .p-3;

      
    @include media-breakpoint-up(md) {
        grid-column: 2 /span 1 ;
    }      

	
	 display: block;
	 margin: $spacer auto $spacer auto;
	 float:none;
	 width: 100%;
	 @include media-breakpoint-up(xl) {
		width: 137%;
		margin: $spacer -37% $spacer 0px;
	 }
}



.article-cell {
grid-column: 2;
@extend .px-3;
}

.right-sidebar {
@extend .py-2;
display: none;
@include media-breakpoint-up(xl) {
 display: block;
}
}



.ais-current-refined-values--item {
 display: inline-block;
}

.ais-current-refined-values--link {
 @extend .tag-link;
 @extend .mr-2
}
.ais-current-refined-values--clear-all {
 display: none;
}

#current-refinements {
  @extend .mt-2;
}
.ais-current-refined-values--count {
  display: none;
}

.ais-refinement-list--list{

}

.ais-refinement-list--checkbox{

}

.ais-refinement-list--item{


 label.ais-refinement-list--label {
  

  .ais-refinement-list--count {
  font-size: smaller;
   @extend .font-native;
   @extend .text-muted;
  }
 }
}

.ais-hits--item {
 @extend .border-bottom;
 @extend .py-2;
 @extend .my-2;
}
#hits {
}
.ais-hits {
}

blockquote {
  padding-left: 1rem;
  margin-left: 1rem;
  font-size: smaller;
border-left: 3px solid #dfdfdf;  
}


.references {
  @extend .expand-right;
@extend .pt-5;
font-size: smaller;
  line-height: 1.2;
p {
  padding-left: 22px ;
  text-indent: -22px ;
  
  margin-bottom: 0.5em;
}

}
