{{ $page := .page }}
{{ $interviewer := .page.Params.interview |  default (slice ) }}
{{ $source := .page.Params.sources | default (slice ) }}
{{ $authors := .authors | default $page.Params.authors | default (slice ) | complement  $interviewer | complement  $source }}
{{ $etal := .etal | default false }}
{{ $class := .class | default ""}}

{{ if $etal }}
      {{- with site.GetPage "taxonomyTerm" (printf "authors/%s"
            (urlize (index $authors 0))) }}
        <a class="{{ .Class }}" href="{{ .Permalink }}"> {{ .Title }}</a>
      {{- else }}
        {{- with index $authors 1 }}, et al.{{- end }} 
     {{- end -}}
     
{{ else }}


     {{ range $interviewer }}
      
       {{ $author := site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
        <a href="{{ $author.Permalink }}" property="author" class="author {{ $class }}">{{ $author.Title }}</a>
        {{ with .Params.orcid }}
          <a target="_blank" href="https://orcid.org/{{ . }}"><i class="pl-1 fab fa-orcid" style="color: black;"></i></a>
        {{ end }}
        <span class="text-muted">interviews </span>

     {{ end }}
     
    {{ $html := (slice) }}
    {{- range $authors }}
      {{- with site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
        
        {{ $myhtml := printf `<a class="author %s"  property="author" href="%s">%s</a>` $class .Permalink  .Title }}
        {{ with .Params.orcid }}
          {{ $myhtml =  printf `%s<a target="_blank" href="https://orcid.org/%s"><i class="pl-1 fab fa-orcid" style="color: black;"></i></a>` $myhtml  . }}
        {{ end }}
        
        {{- $html = $html | append $myhtml -}}        
       {{- end }}
     {{- end -}}
     {{ delimit $html ", "  " and "}}
    
     {{ with $page.Params.sources }}
        <span class="text-muted">on</span>
       {{ range $page.Params.sources }}
         <a href="{{ $page.Params.fullurl }}" target="_blank" class="author external-link {{ $class }}">{{ . }}</a>
       {{ end }}
     {{ end }}


{{- end -}}


