{{ $authors := .authors }}
{{ $etal := .etal | default false }}
{{ $class := .class | default ""}}

{{ if $etal }}
      {{- with site.GetPage "taxonomyTerm" (printf "authors/%s"
            (urlize (index $authors 0))) }}
        <a class="{{ .Class }}" href="{{ .Permalink }}"> {{ .Title }}</a>
      {{- else }}
        {{- with index $authors 1 }}, et al.{{- end }} 
     {{- end -}}
     
{{ else }}

    {{ $html := (slice) }}
    {{- range $authors }}
      {{- with site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
        
        {{ $myhtml := printf `<a class="author %s" href="%s">%s</a>` $class .Permalink  .Title }}
        {{ with .Params.orcid }}
          {{ $myhtml =  printf `%s<a href="https://orcid.org/%s"><i class="pl-1 fab fa-orcid" style="color: black;"></i></a>` $myhtml  . }}
        {{ end }}
        
        {{- $html = $html | append $myhtml -}}        
       {{- end }}
     {{- end -}}
     {{ delimit $html ", "  " and "}}

{{- end -}}


