
<nav class="pb-5">
{{ template "breadcrumbnav" (dict "p1" . "p2" . ) }}
</nav>

{{ define "breadcrumbnav" }}
{{ $class := "border-left border-dark pl-2 pr-1 d-inline-block" }}
{{ if .p1.Parent }}
  {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2  )  }} 
{{ else if not .p1.IsHome }}
  {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
{{ else }}
  {{ $class = "font-special d-inline-block pr-1" }}
{{ end }}

  <a href="{{ .p1.Permalink }}"  {{ if ne .p1 .p2 }}href="{{ .p1.Permalink }}"{{ end }} class="{{ with $class }}{{ . }}{{end}}">{{ .p1.LinkTitle | markdownify }}</a>


{{ end }}