



<footer class="d-print-none py-5 text-white" >


<div class="row  my-5 justify-content-center ">

<div class="col-6 text-center">

  <div class="d-block d-sm-block nav-item text-light text-right pt-3 "  style="word-spacing: 0.5em; " >
    <p> <a href="#subscribe"   class="text-light">subscribe <i class="fas fa-newspaper"></i> </a>
    <p><a href="https://www.facebook.com/peacefulscience.org/" target="_blank"  rel="nofollow" class="text-light">facebook <i class="fab fa-facebook"></i> </a>
    <p><a href="https://www.youtube.com/channel/UCv9gNGOpR7mH4usLW4cpNvg" target="_blank"  rel="nofollow" class="text-light">youtube <i class="fab fa-youtube"></i> </a>
    <p><a href="https://twitter.com/PeacefulScience" target="_blank" rel="nofollow" class="text-light">twitter <i class="fab fa-twitter"></i> </a>
    <p><a href="https://www.patreon.com/peacefulscience/" target="_blank"  rel="nofollow" class="text-light">support <i class="fab fa-patreon"></i> </a>

  </div>
</div>




<div class="col-6 text-center " style="border-left: 3px solid white;">
<a href="/">
  <img
    class="d-block"
    style="width: min(100%, 200px);  height: auto;"
    alt="Peaceful Science"
    width="285"
    height="150"
    loading="lazy"
    src="{{ `/img/design/PS-logo-stacked-white.svg`  |  partial `imgcdn` }}"
  >
</div>
</a>


<div class="col-12 mt-5  pt-5 text-center">
Peaceful Science recieves commissions for purchases made through links on this website.

</div>


</div>

</footer>



{{ partial "modal-subscribe" . }} 

{{ if site.IsServer }}
  {{ range ( .Scratch.Get "js" | uniq ) }}
    <script defer src="{{ (resources.Get . | js.Build (dict "sourcemap" "inline" ) ).Permalink }}"> </script>
  {{ end }}

{{ else }}
  {{ partial "onesignal" . }}
 
  {{ range ( .Scratch.Get "js" | uniq ) }}
    <script defer src="{{ (resources.Get . | js.Build (dict "minify" true ) | fingerprint ).Permalink }}"> </script>
  {{ end }}
     
{{ end }}