

<footer class="p-5 w-100 bg-dark text-light d-print-none" style="z-index: 0">
<div class="container">
<div class="row justify-content-center py-5">
<div class="col-sm-5 ">

Join the Peaceful Science community. Subscribe to the mailing list to follow our civic practice of science.

</div>

<div class="col-sm-5 ">

{{partial "mailinglist"  (dict ) }}
</div>

</div>
</div>
</footer>


<script src="/js/jquery.min.js" ></script>
<script src="/js/bootstrap.min.js" ></script>
<script src="/js/popper.js" ></script>


<script>
// Check that service workers are supported
//if ('serviceWorker' in navigator) {
  // Use the window load event to keep the page load performant
//  window.addEventListener('load', () => {
 //   navigator.serviceWorker.register('/service-worker.js');
//  });
//}
</script>

{{- partial "footer_custom.html" . }}
