{{- $.Scratch.Set "Description" ( (.Description | markdownify |  plainify  ) | default .Params.subtitle | default .Summary | default .Kind ) -}}

{{- $.Scratch.Set "Title" ( .Title | default .Site.Title | markdownify |  plainify  ) -}}


{{ if not site.IsServer }}
{{ with .Site.GoogleAnalytics }}
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KDF8R85');
</script>
{{ end  }}
{{ end }}

{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}


<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">


<!-- Site Title, Description, Author, and Favicon -->
{{- with ($.Scratch.Get "Title") }}
<title>{{ print . }}</title>
<meta property="og:title" content="{{ . }}"/>
<meta name="title" content="{{ . }}"/>
<meta name="twitter:title" content="{{ . }}">

{{- end -}}
{{- with ($.Scratch.Get "Description") }}
<meta name="description" content="{{ . }}"/>
<meta property="og:description" content="{{ . }}"/>
<meta name="twitter:description" content="{{ . }}"/>
{{- end }}

<meta property="og:type" content={{- if eq .Kind "home" -}}"website"{{ else }}"article"{{ end }}/>
<meta property="og:url" content="{{ .Permalink | absURL }}"/>
<meta property="og:site_name" content="{{ .Site.Title }}"/>
<meta name="twitter:site" content="@peacefulscience">
<meta name="twitter:creator" content="@swamidass">

{{ with .Params.headerimage.src -}}
<meta property="og:image" content="{{- . | absURL -}}"/>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{-  . | absURL -}}">
{{- end }}


{{ with .Params.DOI }}
<meta property="doi" content="{{- . -}}"/>
{{ end }}


{{ with .Params.authors }}
    {{- range . }}
      {{- with site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
<meta property="author" content="{{ .Title | markdownify |  plainify }}"/>
      {{- end }}
    {{- end }}
{{ end }}
    

<link rel="search" href="/opensearch.xml" type="application/opensearchdescription+xml" title="Peaceful Science">
<link rel="manifest" href="/manifest.json">
<link href='/ps-initials.png?h=64&w=64&nf_resize=fit' rel='shortcut icon'/>
<link rel="apple-touch-icon" sizes="180x180" href="/ps-initials.png?h=180&w=180&nf_resize=fit">
<link rel="preload" href="/font/alveratasb-webfont.woff2" as="font" type="font/woff2" crossorigin="anonymous">



<style>
{{ $style := resources.Get "css/main.scss" | resources.ToCSS | resources.PostCSS  }}
{{ $style.Content | safeCSS }}
{{ $style := resources.Get "css/critical.scss" | resources.ToCSS | resources.PostCSS  }}
{{ $style.Content | safeCSS }}
</style>



<link rel="preconnect" href="{{ site.Params.imagecdn | absURL }}">
