{{- if eq .Kind "home" -}}
  {{- $.Scratch.Set "Description" ( .Site.Params.description | default "The main page" ) -}}
  {{- $.Scratch.Set "Title" .Site.Title -}}
{{- else -}}
  {{- $.Scratch.Set "Description" ( (.Description | markdownify |  plainify  ) | default .Params.subtitle | default .Summary | default .Kind ) -}}
  {{- $.Scratch.Set "Title" ( .Title | default .Site.Title | markdownify |  plainify  ) -}}
{{- end }}

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">


<!-- Site Title, Description, Author, and Favicon -->
{{- with ($.Scratch.Get "Title") }}
<title>{{ print . }}</title>
<meta name="og:title" content="{{ . }}"/>
<meta name="title" content="{{ .   }}"/>
{{- end -}}
{{- with ($.Scratch.Get "Description") }}
<meta name="description" content="{{ . }}"/>
<meta name="og:description" content="{{ . }}"/>
{{- end }}
<meta name="og:type" content="article"/>
<meta name="og:url" content="{{ .Permalink | absURL }}"/>
<meta name="og:site_name" content="{{ .Site.Title }}"/>

{{ with .Params.headerimage.src }}
<meta name="og:image" content="{{- . | absURL -}}"/>
{{ end }}

{{ with .Params.DOI }}
<meta name="doi" content="{{- . -}}"/>
{{ end }}


{{ with .Params.authors }}
    {{- range . }}
      {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
<meta name="author" content="{{ .Title | markdownify |  plainify }}"/>
      {{- end }}
    {{- end }}
{{ end }}
    

<link rel="search" href="/opensearch.xml" type="application/opensearchdescription+xml" title="Peaceful Science">
 <link rel="preload" href="/font/alveratasb-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="manifest" href="/manifest.json">
<link href='/ps-initials.png?h=64&w=64&nf_resize=fit' rel='shortcut icon'/>
<link rel="apple-touch-icon" sizes="180x180" href="/ps-initials.png?h=180&w=180&nf_resize=fit">


<!-- SEO -->
{{- partial "seo/main.html" . -}}

{{- $showBreadcrumbs := $.Params.showBreadcrumbs | default $.Site.Params.showBreadcrumbs | default true }}
{{ if and ( eq $showBreadcrumbs true ) ( eq .IsHome false ) -}}
  {{ partial "breadcrumbs.html" ( dict "ctx" . "output_type" "structured" ) }}
{{- end }}

<!-- Social Media Tags -->
{{- partial "social/main.html" . -}}

<!-- Links and stylesheets -->

    {{- partial "head_custom.html" . -}}

<link rel="stylesheet" href="/css/theme.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">


