{{- $src := .src   -}}
{{- $loc := .loc | default .Parent.File.Path }}


{{- if findRE "^static/" $src -}}
  {{- warnf "PREFIX.IMG:\t%s\t%s" $loc $src -}}
  {{-  $src = replaceRE "^static/" "/" $src  -}}
{{- end -}}

{{-  $src = replaceRE "^static/" "/" $src  -}} 

{{- if findRE "^/img/" $src -}}
 {{- if not (fileExists (printf "static%s" $src )) -}}
   {{- warnf "BROKEN.IMG:\t%s\t%s" $loc $src -}}
 {{- end -}}
{{- else -}}
 {{- if findRE "^http" $src }}
 {{- else }}
   {{- warnf "BROKEN.IMG:\t%s\t%s" $loc $src -}}
  {{- end }}
{{- end -}}

{{ return $src  }}

