{{ $title := "References" }}

{{ if in ($.Scratch.Get "rendered") "references" }}
 {{ $title = "Links" }}
{{ end }}

{{ if in  $.Content `id="references"` }}
 {{ $title = "Links" }}
{{ end }}

{{ if (in (.Scratch.Get "hide") "linklist" ) }}
{{ else }}

{{ with .Scratch.Get "Links" }}
  <section class="references d-none d-print-block">
    <h2>{{ $title }}</h2>

    <ol type="a">
    {{ range . }}
      <li> <a href="{{ . }}" rel="nofollow" target="_blank">{{ . }}</a>
    {{end}}
    </ol>
  </section>
{{end}}
{{ end}} 