<!-- Begin Mailchimp Signup Form -->

{{ $params := (dict "EmailClass" "text-white" "ButtonClass"  "btn-outline-light" ) }}

{{ $params =  merge $params . }}


<div id="mc_embed_signup" class="">
<form action="https://peacefulscience.us19.list-manage.com/subscribe/post?u=3b4602126e38b8a5951fd6fd1&amp;id=83bbf90a5a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	
<div class="input-group font-special">	
	<input type="email" value="" name="EMAIL" class="form-control bg-transparent border-0 {{$params.EmailClass}}" placeholder="Your email address" id="mce-EMAIL">
     <div class="input-group-append">
       <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn {{$params.ButtonClass}}">
     </div>
</div>



<div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group" style="display: none">
    <div class="content__gdpr">
        <label>Consent</label>
        <p>You are agreeing to allow Peaceful Science to send you emails with new posts and information.</p>
        <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
		<label class="checkbox subfield" for="gdpr_57551"><input type="checkbox" id="gdpr_57551" name="gdpr[57551]" value="Y" class="av-checkbox gdpr" checked ><span>I agree.</span> </label>
        </fieldset>
        <p>You can unsubscribe at any time by clicking the link in the footer of our emails.</p>
    </div>
    <div class="content__gdprLegal">
        <p>We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/" target="_blank">Learn more about Mailchimp's privacy practices here.</a></p>
    </div>
</div>

<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3b4602126e38b8a5951fd6fd1_83bbf90a5a" tabindex="-1" value=""></div>  





    
<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
</div> 

  

</form>
</div>
<!--End mc_embed_signup-->