{{ $currentPage := . }}
{{ $menu := .Site.Menus.main  }}

<nav class="navbar navbar-expand-lg bg-dark  navbar-dark w-100 border-bottom shadow">

  <button class="navbar-toggler shake" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
    
      
      
        {{ range $menu }}

            {{- if .Children -}}
               {{- $active := eq .URL $currentPage.RelPermalink }}
               {{- range .Children }}
                 {{- if eq .URL $currentPage.RelPermalink }}
                   {{- $active = true }}
                 {{- end }}
               {{- end }}
               
               <li class="nav-item dropdown{{ if $active }} active{{ end }}">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ .Pre }}{{ .Name }}</a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 {{ range sort .Children "Weight" "desc" }}                    
                    {{ if  eq .URL $currentPage.RelPermalink }}
                      <a class="dropdown-item active" href="#">  {{ .Pre }}{{ .Name }} <span class="sr-only">(current)</span></a>
                    {{ else }}
                      <a class="dropdown-item " href="{{ .URL | absURL }}">  {{ .Pre }}{{ .Name }}</a>
                    {{ end }}
                 {{ end }}
                </div>


            {{ else }}
                {{ if eq .URL $currentPage.RelPermalink}}
                <li class="nav-item active">  
                    <a class="nav-link" href="#">{{ .Pre }}{{ .Name }} <span class="sr-only">(current)</span></a>
                </li>
                {{ else }}
                <li class="nav-item ">  
                    <a class="nav-link" href="{{ .URL | absURL }}">{{ .Pre }}{{ .Name }}</a>
                </li>
                {{ end }}
                
            {{ end }}

        {{ end }}

    </ul>

<!-->      <a href="http://eepurl.com/dINfpn" target="_blank" class="btn btn-outline-light my-4 my-sm-2 shake" >Join Our Mailing List</a> -->
  </div>
</nav>

<footer class="w-100 bg-dark text-light d-print-none p-2  border-top"  style="position: fixed; bottom: 0; z-index: 10000">
<div class="container-fluid">
<div class="row justify-content-center" >
<div class="col-4">
  <a class="navbar-brand font-special text-white" href="/">Peaceful Science</a>

</div>

<div class="col-8 ">

{{partial "mailinglist"  (dict ) }}
</div>

</div>
</div>
</footer>

