{{ $currentPage := . }}
{{ $menu := .Site.Menus.main  }}

<nav class="navbar navbar-expand-lg  bg-dark sticky-top navbar-dark w-100 border-bottom shadow">
  <a class="navbar-brand" href="#">Peaceful Science</a>
  <button class="navbar-toggler shake" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-auto">
    
      
      
        {{ range $menu }}
            {{ if eq .URL $currentPage.RelPermalink }}
                <li class="nav-item active">  
                    <a class="nav-link" href="#">{{ .Pre }}{{ .Name }} <span class="sr-only">(current)</span></a>
                </li>
                
            {{ else }}
                <li class='nav-item'> 
                    <a class="nav-link" href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a>
                </li>
            {{ end }}
        {{ end }}
      
    </ul>

      <a href="http://eepurl.com/dINfpn" target="_blank" class="btn btn-outline-light my-4 my-sm-2 shake" >Join Our Mailing List</a>
  </div>
</nav>