{{ $currentPage := . }}
{{ $menu := .Site.Menus.main  }}


<div style="height: 40px; width: 100%"></div> 

<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark w-100 border-bottom shadow" style="contain: layout; background-image: linear-gradient(-30deg, #000f, #020f); transition: .3s ease-in; z-index: 1">


 <a class="navbar-brand font-special text-light text-larger" href="/">Peaceful Science</a>

    <button  class="navbar-toggler shake text-white btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>

  
  <div class="collapse navbar-collapse" style="transition: 0.3 ease-in;" id="navbarNavDropdown">

    <ul class="navbar-nav mr-auto">


<li class="nav-item"> <a class="nav-link grey-white-pulse" id="open-popup"  style="cursor: pointer;" href='#subscribe'> Subscribe</a> </li>


        {{ range $menu }}
            {{- if .Children -}}
               {{- $active := eq .URL $currentPage.RelPermalink }}
               {{- range .Children }}
                 {{- if eq .URL $currentPage.RelPermalink }}
                   {{- $active = true }}
                 {{- end }}
               {{- end }}
               
               <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle {{ if $active }} active{{ end }}" href="#"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ .Pre }}{{ .Name }}</a>
               <div class="dropdown-menu bg-dark text-light" aria-labelledby="navbarDropdown">
                 {{ range sort .Children "Weight" "desc" }}                    
                    {{ if  eq .URL $currentPage.RelPermalink }}
                      <a class="dropdown-item active" href="#">  {{ .Pre }}{{ .Name }} <span class="sr-only">(current)</span></a>
                    {{ else }}
                      <a class="dropdown-item text-muted" href="{{ .URL | absURL }}">{{ .Pre }}{{ .Name }}</a>
                    {{ end }}
                 {{ end }}
                </div>
				</li>

            {{ else }}
                {{ if eq .URL $currentPage.RelPermalink}}
                <li class="nav-item active">  
                    <a class="nav-link" href="#">{{ .Pre }}{{ .Name }} <span class="sr-only">(current)</span></a>
                </li>
                {{ else }}
                <li class="nav-item">  
                    <a class="nav-link" href="{{ .URL | absURL }}">{{ .Pre }}{{ .Name }}</a>
                </li>
                {{ end }}
                
            {{ end }}

        {{ end }}

    </ul>
           
           
     <form class="form-inline"  action="/search/" method="get" target="_blank">
    <button class=""  style="visibility: hidden" type="submit">Search</button>    
    <input class="form-control  text-light" type="search" name="query" style="color: white; background: none; outline: none; border: none; border-bottom: 2px" placeholder="Search" aria-label="Search">
      </form>
  

  <div class=" nav-item text-light d-block text-larger my-1"  style=" word-spacing: 10px;" >
   
    <a href="https://www.facebook.com/peacefulscience.org/" target="_blank"  rel="nofollow" class="text-light"><i class="fab fa-facebook"></i></a>
    
    <a href="https://www.youtube.com/channel/UCv9gNGOpR7mH4usLW4cpNvg" target="_blank"  rel="nofollow" class="text-light"><i class="fab fa-youtube"></i></a>

    <a href="https://twitter.com/PeacefulScience" target="_blank" rel="nofollow" class="text-light"><i class="fab fa-twitter"></i> </a>

    <a href="https://www.patreon.com/peacefulscience/" target="_blank"  rel="nofollow" class="text-light"><i class="fab fa-patreon"></i></a>

  </div>
  
  <!-->      <a href="http://eepurl.com/dINfpn" target="_blank" class="btn btn-outline-light my-4 my-sm-2 shake" >Join Our Mailing List</a> -->
  </div>

  


 
</nav>

{{ .Scratch.Add "js" (slice "/js/navbar.js") }}


