{{ $id := . }}
{{ $img := printf `https://img.youtube.com/vi/%s/hqdefault.jpg` $id }}
{{ $style := default nil }}
{{ $class := "" }}
{{ $link := default nil }}
{{ $lazy := true }}

{{ if reflect.IsSlice . }}
   {{ $id = index . 0 }}
   {{ $img = index . 1 }}
{{ end }}

{{ if reflect.IsMap . }}
   {{ $id = .Youtube }}
   {{ $img = .Image | default $img }}
   {{ $style = .Style | default $style }}
   {{ $class = .Class | default $class }}
   {{ $link = .Link | default nil }}
   {{ $lazy = .Lazy | default true }}
{{ end }}



<div class="border d-print-none mb-1" style="position: relative">
<a {{with $link}}href="{{ . }}" title="Show Article"{{ else}}onclick="PlayVideo('{{ $id }}')"  title="Play Video"{{ end }}>
<img src={{ $img }} width=16 height=9 style='height: auto; width: 100%; cursor: pointer; aspect-ratio: 16 /9; object-fit: cover'
{{ if $lazy }} loading="lazy" {{ end }}
/>
</a><a
 class="d-print-none"
 onclick="PlayVideo('{{ $id }}')" 
	 title="Play Video"
 style="transform: translateX(10px) translateY(-50%);
  vertical-align: middle; 
  position: absolute; 
  top: 20%; right: 0; 
  color: white; 
  text-align: center; 
  font-size: 2.5vw; cursor: pointer; 
  width:10%; height: auto; aspect-ratio: 1 / 1">
<svg class="shadow" style="height: 100%; width: 100%; overflow: visible;" xmlns="http://www.w3.org/2000/svg" viewBox="-220 -149 800 800">
<circle vector-effect="non-scaling-stroke" stroke-width="2px" stroke="white"  fill="#040" cx="180" cy="256" r="500" />
<path fill="white" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"/></svg>
</a>
</div>
