navbar
d-print-none
navbar-expand-lg
fixed-top
navbar-dark
w-100
border-bottom
shadow
navbar-brand
font-special
text-light
text-larger
navbar-toggler
shake
text-white
btn
btn-outline-primary
fas
fa-bars
collapse
navbar-collapse
navbar-nav
mr-auto
nav-item
nav-link
grey-white-pulse
dropdown
dropdown-toggle
dropdown-menu
bg-dark
dropdown-item
text-muted
form-inline
form-control
d-block
my-1
fab
fa-facebook
fa-youtube
fa-twitter
fa-patreon
gae-header-bg
container
row
pt-5
pb-5
justify-content-center
col-12
display-2
py-5
my-5
col-6
text-center
d-sm-block
text-right
pt-3
fa-newspaper
mt-5
m-0
px-2
text-dark
fa-arrow-down
pointer
shrink-hide
circle-icon
fa-arrow-up
shrink-show
fa-times
d-none
modal-container
modal-bg
cssmodal
p-3
border
validate
email
mergeRow
gdpr-mergeRow
content__gdprBlock
mc-field-group
content__gdpr
mc_fieldset
gdprRequired
checkbox
subfield
av-checkbox
gdpr
clear
btn-primary
bg-white
d-inline-block
pr-1
border-left
border-dark
pl-2
mt-2
mb-3
py-3
text-smaller
col-md-4
mb-1
title
pr-2
article-date
excerpt
parallax
col-lg-6
text
dark
author
active
sr-only
col-4
col-md-3
col-lg-2
mx-auto
btn-dark
py-1
article-grid
article-header
mb-5
article-title
article-description
mb-2
pb-2
float-right
article-body
pb-print-0
article-text
form-group
d-flex
d-print-flex
d-md-none
ml-5
text-decoration-none
d-inline
d-print-block
expand-right
editor-note
left-sidebar
hover-front
position-sticky
toc
pr-0
toc-marker
d-md-block
tag-link
text-lg-right
text-lg-left
col-lg-8
shadow-inset
p-2
btn-lg
clearfix
d-lg-block
mt-3
card
card-header
mb-0
btn-link
show
card-body
webfeedsFeaturedVisual
badge
badge-secondary
rounded
mr-2
fa
fa-download
dropcap
nav
bg-gradient-to-t
from-gray-300
my-3
col-lg-4
btn-md
flex-shrink-0
mr-3
external-link
references
link-list
link-list-link
forum-link
aside-xl-wide
twitter-tweet
article-question
amazon-xl-right
pl-1
fa-orcid
aside-xl-right
overlay
font-bold
sidenote
footnote-backref
footnote-ref
footnotes
series
font-weight-bold
col
heading
heading-black
text-decorations-none
red-strike
hideme
panimate
d-lg-inline
d-lg-none
pb-3
heading-green
container-fluid
p-5
btn-outline-light
order-lg-3
my-lg-1
mr-lg-1
pl-lg-1
heading-red
heading-blue
pl-3
col-md-8
col-md-6
col-xl-3
doi-badge
rounded-left
rounded-right
dropnote
fb-post
text-left
fa-wikipedia-w
ml-3
fa-google
fa-stack
fa-circle
fa-stack-2x
fa-amazon
fa-stack-1x
py-0
editor
abstract
margins
header
authors
doi
no-underline
p
footnote
del