navbar
d-print-none
navbar-expand-lg
fixed-top
navbar-dark
w-100
border-bottom
shadow
navbar-brand
font-special
text-light
text-larger
navbar-toggler
shake
text-white
btn
btn-outline-primary
fas
fa-bars
collapse
navbar-collapse
navbar-nav
mr-auto
nav-item
nav-link
grey-white-pulse
dropdown
dropdown-toggle
dropdown-menu
bg-dark
dropdown-item
text-muted
form-inline
form-control
d-block
my-1
fab
fa-facebook
fa-youtube
fa-twitter
fa-patreon
parallax
container
py-5
row
pt-5
pb-5
justify-content-center
col-lg-6
text-center
text
link-ref
d-none
col-12
pt-3
dark
col-md-4
p-3
text-smaller
mb-1
title
pr-2
author
article-date
excerpt
my-5
col-6
d-sm-block
text-right
fa-newspaper
mt-5
modal-container
modal-bg
cssmodal
border
validate
email
mergeRow
gdpr-mergeRow
content__gdprBlock
mc-field-group
content__gdpr
mc_fieldset
gdprRequired
checkbox
subfield
av-checkbox
gdpr
clear
btn-primary
m-0
px-2
text-dark
fa-arrow-down
pointer
shrink-hide
circle-icon
fa-arrow-up
shrink-show
fa-times
panimate
col
d-lg-inline
d-lg-none
mx-auto
d-lg-block
mt-3
pb-3
heading
heading-green
col-4
col-md-3
col-lg-2
container-fluid
p-5
btn-outline-light
d-inline-block
heading-black
py-1
order-lg-3
py-3
my-lg-1
mr-lg-1
d-flex
flex-shrink-0
mr-3
rounded
my-3
pl-lg-1
heading-red
heading-blue
margins
header
article-title
mt-2
authors
doi
article-text
references
d-print-block
link-list
link-list-link
no-underline
active
bg-white
pr-1
border-left
border-dark
pl-2
mb-3
tag-link
px-0
btn-dark
gae-header-bg
display-2
sr-only
article-grid
article-header
mb-5
article-description
mb-2
pb-2
float-right
article-body
pb-print-0
form-group
d-print-flex
d-md-none
ml-5
text-decoration-none
d-inline
expand-right
editor-note
left-sidebar
hover-front
position-sticky
toc
pr-0
toc-marker
d-md-block
text-lg-right
text-lg-left
col-lg-8
shadow-inset
p-2
btn-lg
col-md-7
mr-2
clearfix
pl-5
card
card-header
mb-0
btn-link
show
card-body
webfeedsFeaturedVisual
badge
badge-secondary
fa
fa-download
dropcap
external-link
nav
bg-gradient-to-t
from-gray-300
col-lg-4
btn-md
forum-link
pl-1
fa-orcid
series
aside-xl-right
font-weight-bold
sidenote
footnote-backref
footnote-ref
footnotes
text-decorations-none
article-question
amazon-xl-right
font-bold
aside-xl-wide
hideme
doi-badge
rounded-left
rounded-right
dropnote
twitter-tweet
fb-post
text-left
ml-3
fa-stack
fa-circle
fa-stack-2x
fa-amazon
fa-stack-1x
collapsible
collapsed
collapse-overlay
collapse-hide
position-absolute
collapse-show
fa-wikipedia-w
fa-google
p
footnote
abstract
del
editor