{{ define "head" }}
  {{ partial "jsonld" . }}
  <link
    rel="preload"
    href="{{ partial `imgcdn`  `/img/design/PS-logo-stacked-white.svg` }}"
    as="image"
    media="(max-width: 800px)"
  />
{{ end }}

{{ define "background" }}

  {{ $srcpng := partial "imgurl" (dict "src"  "/img/design/green-hex.svg" "loc" $.Path ) }}


  <img
    class="panimate"
    style="background-color: #030; position: fixed; z-index: -1; 
 top: 0px; left: 0px; width: 100vw; height: 100vh;object-fit: cover;
 object-position: 10% 50%;user-select: none;"
    src="{{ $srcpng  | partial `imgcdn` }}"
  />
{{ end }}

{{ define "main" }}

  {{ $PAGES := partialCached "byviews" . }}
  {{ $ALL := (where .Site.RegularPages ".Params.rss" "==" true ) }}
  {{ $latest := first 9 $ALL }}
  {{ $used := $latest }}

  {{ $featured := first 6 (where $PAGES.ByViews ".Params.categories" "intersect" (slice "featured")  | complement $used) }}
  {{ $used := union $featured $used }}
  
  {{ $race := first 2 (where $ALL ".Params.categories" "intersect" (slice "race" "ancestry") | complement $used) }}
  {{ $used := union $used $race }}

  {{ $ai := first 2 (where $ALL ".Params.categories" "intersect" (slice "artificial-intelligence") | complement $used) }}
  {{ $used := union $used $ai }}
  {{ $art := first 2 (where $ALL ".Params.categories" "intersect" (slice "art") | complement $used) }}
  {{ $used := union $used $art }}

  {{ $gae := partial "getpages" .Params.Articles.Gae }}
  {{ $used := union $used $gae }}

  {{ $articles :=  (intersect $PAGES.BySessions  ($ALL | complement $used) ) }}


  <div style="contain: layout">
    <div style="height: 40px; width: 100%"></div>

    <header style="position: relative; overflow: hidden; ">
      <div class="container">
        <div class="row py-5 mt-5">
          <div class="col  text-center">
            <img
              class="d-none d-lg-inline"
              style="width: 100%; height: auto"
              alt="Peaceful Science"
              width="952"
              height="148"
              src="{{ `/img/design/PS-logo-long-white.svg` |  partial `imgcdn` }}
              "
            />

            <img
              class="d-lg-none"
              style="width: 80%; height: auto"
              alt="Peaceful Science"
              width="285"
              height="150"
              src="{{ `/img/design/PS-logo-stacked-white.svg`  |  partial `imgcdn` }}"
            />
          </div>
                      <div class="col-12 text-center text-white text-larger">
              <h1 class="text-white ">What Does It Mean To Be Human?</h1>
            </div>
  
        </div>

      <div style="background: #1119">


        <section class="container pt-3 pb-3">
          <div class="row justify-content-center ">
            {{ partial "heading" (dict "Text" "Discussing These Books" "Link" "/books/" "Class" "heading-green") }}
  
                {{ range first 6 (partial "listpages" (.GetPage "/books") ) }}
                  {{ partial "render" (dict "Page" .  "Style" "vertical" "Layout"  "col-6 col-md-3 col-lg-2" "Hide" "excerpt categories lazy date author"  ) }}

                {{ end }}

          </div>
        </section>
      </div>
      </div>

      <div
        class="shadow container-fluid text-white text-larger text-center  mt-5"
      >
        <div class="row">
          <div class="col-md-4 p-5" style="background: #121b">
            <p>
              <a
                class="btn btn-outline-light d-inline-block mt-3"
                target="_blank"
                href="{{ absURL `/about/mission-and-values/` }}"
              >
                Learn</a
              >
            </p>
            <p>
              Seeking dialogue and understanding across disagreements that
              matter.
            </p>
          </div>

          <div class="col-md-4 p-5" style="background: #010b">
            <p>
              <a
                class="btn btn-outline-light d-inline-block mt-3"
                href="#subscribe"
              >
                Subscribe</a
              >
            </p>
            <p>
              Engaging content from scientists, theologians, and other scholars.
            </p>
          </div>

          <div class="col-md-4 p-5" style="background: #121b">
            <p>
              <a
                class="btn btn-outline-light d-inline-block mt-3"
                target="_blank"
                href="{{ absURL `https://www.patreon.com/peacefulscience` }}"
              >
                Support
              </a>
            </p>
            <p>
              A civic practice of science, founded by a scientist at Washington
              University in St. Louis.
            </p>
          </div>
        </div>
      </div>

    </header>

    <section id="articles" style="background-color: #dfdfdf">
      <div class="container">
        <div class="row justify-content-center pt-3">
          {{ partial "heading" (dict "Text" "Latest Articles" "Class" "heading-black" "Link" ("/articles/" | absURL)   ) }}

          {{ range first 3 $latest }}
            {{ partial "render" (dict "Page" .  "Style" "vertical" "Layout"  "col-md-4" ) }}
          {{ end }}

          {{ range after 3 $latest }}
            {{ partial "render" (dict "Page" .  "Style" "vertical" "Layout"  "col-md-4"  ) }}
          {{ end }}
        </div>
      </div>
    </section>

    <section style="background-color: #eee">
      <div class="container">
        <div class="row justify-content-center pt-3">
          <div class="col-lg-6 py-1 order-lg-3">
            <div
              class="row justify-content-center py-3 my-lg-1 shadow mr-lg-1"
              style="background-color: white"
            >
              {{ partial "heading" (dict "Text" "Featured" "Class" "heading-black" "Link" "/categories/featured/" ) }}

              {{ range $featured }}
                {{ partial "render" (dict "Page" .  "Style" "horizontal" "Layout"  "col-12" ) }}
              {{ end }}
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row justify-content-center my-3 pl-lg-1">
              {{ partial "heading" (dict "Text" "Ancestry, Race, and Origins" "Class" "heading-red") }}
              {{ range $race }}
                {{ partial "render" (dict "Page" .  "Style" "horizontal" "Layout"  "col-12" ) }}
              {{ end }}

              {{ partial "heading" (dict "Text" "Artificial Intelligence" "Class" "heading-blue") }}
              {{ range $ai }}
                {{ partial "render" (dict "Page" .  "Style" "horizontal" "Layout"  "col-12" ) }}
              {{ end }}

              {{ partial "heading" (dict "Text" "Art, Beauty, and Perception" "Class" "heading-green") }}
              {{ range $art }}
                {{ partial "render" (dict "Page" .  "Style" "horizontal" "Layout"  "col-12" ) }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section style="background-color: #dfdfdf">
      <div class="container">
        <div class="row justify-content-center pt-3 pb-5 ">
          {{ partial "heading" (dict "Text" "More Articles"  "Class" "heading-black" "Link" "/archive/") }}

          {{ range  first 8 $articles }}
            {{ partial "render" (dict "Page" .  "Style" "vertical" "Layout"  "col-6 col-md-3" "Hide" "excerpt categories" ) }}
          {{ end }}

          {{ range  ( after 8 $articles | first 8 ) }}
            {{ partial "render" (dict "Page" .  "Style" "vertical" "Layout"  "col-6 col-md-3" "Hide" "excerpt categories image" ) }}
          {{ end }}

        </div>
      </div>
    </section>
  </div>
{{ end }}
