fa-orcid
col-md-6
col-md-7
rounded-right
rounded-left
active
navbar-toggler
navbar-toggler-icon
dropcap
page-link
page-item
pagination
pagination-default
ais-search-box
search-box
ais-current-refined-values--item
ais-current-refined-values--link 
ais-current-refined-values--clear-all
current-refinements
ais-current-refined-values--count
ais-refinement-list--count
ais-refinement-list--count
path
svg:q
input[type=checkbox] 
col-8
col-6
col-4
blockquote
article-question
editor-note
footnotes
sup
references
footnote-backref
footnote-ref
