
{{- $page := .Page -}}
{{ $height := 90 }}
{{ $startsec := $page.Params.Headerimage.Startsec | default 0 }}
{{ $width := 160 }}
{{ $sizes := .Sizes | default nil }}

{{- $src :=  $page.Params.headerImage.Src | default $page.Params.defaultimg -}}

{{- $layout := .Layout | default "col-6 col-md-3" -}}

{{- $style := .Style | default "horizontal" -}}

{{- $containerclass := "py-3 text-smaller" -}}
{{- $imageclass := "mb-1  d-print-none d-block" -}}
{{- $imagestyle := "width: 100%; aspect-ratio: 16 / 9; height: auto; object-fit: cover;" }}
{{- $imgeng:= "?imgeng=/w_auto,360/" }}

{{- if eq  $style  "horizontal" -}}
  {{- $containerclass = printf "%s %s" "d-flex" $containerclass -}}
  {{- $imageclass = "flex-shrink-0 mr-3  mb-1 d-print-none rounded" -}}
  {{- $imagestyle = "width: 160px; height: 90px; object-fit: cover;" | safeCSS  -}}
  {{- $imgeng = "?imgeng=/w_auto,160/" }}
  {{- $sizes = "160px" }}
{{- end -}}

<article {{with .CStyle }}style="{{ . | safeCSS }}"{{ end }} {{with .Id }}id="{{ . }}"{{ end }} 
  class="{{ $containerclass }} {{ $layout }} " resource="{{ $page.Permalink }}">

{{ $rendered := false }}

{{ if not (in .Elements "image") }}
{{ $rendered := true }}
{{ else }}

{{ with $page.Params.Headerimage.Youtube }}

  {{ partial `youtube` (dict `Image` ($src | partial `imgcdn` ) `Link` $page.Permalink `Youtube` . `StartSec`  $startsec `Class` $imageclass   `Style` $imagestyle `Sizes` $sizes ) }}
  {{ $rendered = true }}

{{ end }}

{{ if not $rendered }}
  <a href="{{$page.Permalink}}">   
  <img class="{{- $imageclass -}}" property="image" style="{{ $imagestyle | safeCSS }}" 
  src="{{ $src  | partial `imgcdn` }}{{ $imgeng }}" alt="{{ $page.Title | htmlEscape }}" 
  {{- with $sizes }} sizes="{{ . }}"{{ end }}
  {{- if (in .Elements "lazy") }} loading="lazy" {{- end }}>
  </a>
{{ end }} 

{{ end }}


<header>

    <a class="title d-block{{with $page.Params.deletiondate}} red-strike{{end}}" property="title"
       href="{{$page.Permalink}}">{{ $page.Params.page_title | default $page.Title  | markdownify }} </a>


{{ if or (in .Elements  "authors" ) (in .Elements "date") }}
{{ if in .Elements "authors" -}}
    <span class="text-smaller pr-2 text-muted">
    {{- with $page.Params.authors }}
      {{- with site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize (index . 0))) }}
        <a class="author text-muted" property="author" href="{{ .Permalink }}">{{ .Title }}</a>
      {{- end }}
        {{- with index . 1 }}, et al.{{- end }} 
    {{- end }}
    </span>
{{- end -}}

{{- if in .Elements "date" -}}
  {{- with $page.PublishDate -}}
    <span class="text-muted article-date text-smaller"> {{ .Format "January 2, 2006" }}</span>
  {{- end -}}
{{- end -}}
    <br>
{{ end }}    
{{- if in .Elements "excerpt" -}}
    <span property="description" class="d-block excerpt text-smaller"> {{ $page.Params.description | markdownify }} </span>
{{- end -}}
    
{{- if in .Elements "categories" -}}
    {{- range $page.Params.categories -}}
      {{- with site.GetPage "taxonomyTerm" (printf "categories/%s" (urlize .)) }}
        {{- if not (.Params.hidden | default false ) -}} 
          <a class="tag-link" href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end -}}
      {{ end -}}
    {{- end -}}
{{- end -}}

</header>

</article>