
{{- $style := .Style | default "horizontal" -}}

{{ if in $style (slice "horizontal" "vertical")  }}
  {{ partial "render/_default.html" . }}
{{ end }}

  


<article resource="{{ .Page.Permalink }}" class="container col-12 my-3 {{ .Layout  }}">
<div class=row   >
<div class="col-12  " >
<div style="border-bottom: solid #ddd; ">
<div property="date"  class="d-inline-block font-special " style="font-size: 22px; color: #080">
<a href="{{ .Page.Permalink }}">{{ .Page.Date.Format "January 2, 2006" }}</a></div>
<span class="pl-3" style="color: #aaa">  {{ div .Page.WordCount 100. | lang.FormatNumber 1}} minute read
</span>
</div></div>

<div class="col-12 col-md-4 " >
{{- $params := merge . (dict "Style" "horizontal" "Layout" "w-100")  }}
{{ partial "render/_default.html"  $params }}
</div>

<div class="col-12 col-md-8 container">
<div class="row">
{{ range .Page.Params.Pages | first 4 }}
 {{ with site.GetPage (path.Clean .)  }}
      {{ partial "render" (dict "Page" .  "Style" "vertical" "Layout"  "col-6 col-md-6 col-lg-4 col-xl-3" "Hide" "excerpt categories date"  "Sizes" "(max-width: 745px) calc(50vw - 32px), (min-width: 745px) 253px" ) }}
  {{ end }}
{{ end }}
</div>
</div>

</div>
</article>

