
{{- $style := .Style | default "horizontal" -}}

{{ if in $style (slice "horizontal" "vertical")  }}
  {{ partial "render/_default.html" . }}
{{ end }}

  


<article resource="{{ .Page.Permalink }}" class="container my-3 {{ .Layout  }}">
<div class=row  >
<div class="col-12 font-special " style="border-bottom: solid #ddd; font-size: 22px; color: #aaa">
{{ .Page.Date.Format "January 2, 2006" }}
</div>


{{- $params := merge . (dict "Style" "horizontal" "Layout" "col-12 col-md-4" )  }}
{{ partial "render/_default.html"  $params }}

<div class="col-12 col-md-8 ">
<div class="row">
{{ range .Page.Params.Pages | first 4 }}
 {{ with site.GetPage (path.Clean .)  }}
      {{ partial "render" (dict "Page" .  "Style" "vertical" "Layout"  "col-6 col-md-6 col-lg-3" "Hide" "excerpt categories date"  "Sizes" "(max-width: 745px) calc(50vw - 32px), (min-width: 745px) 253px" ) }}
  {{ end }}
{{ end }}
</div>
</div>

</div>
</article>

