
{{- $src := .Get 0  -}}
{{- $src = index (split $src "?") 0 -}}

{{- $class := .Get 2 | default "aside-xl-right" -}}

{{- $src = partial "imgurl"  (dict "src" $src "loc" .Page.File )   -}}

{{- with $src  -}}   
  {{- $args := querify "w" 696 "nf_resize" "fit" -}}
  {{- $src = printf "%s?%s" ( . | absURL ) $args  -}}
{{- end  -}}



<aside class="{{ $class }}">
<img 
  src="{{- $src -}}"
  class="w-100 d-block"
/>

  <div class="text-smaller text-muted p-2">
{{ .Get 1 | markdownify }}
</aside>

