
{{- $src := .Get 0  -}}
{{- $src = index (split $src "?") 0 -}}

{{- $class := .Get 2 | default "aside-xl-right" -}}

{{- $src = partial "imgurl"  (dict "src" $src "loc" .Page.File )   -}}


<figure class="{{ $class }}">

<img
  src="{{ $src  | partial `imgcdn` }}?imgeng=/w_auto,800/"
  style="width: 100%; height: auto"
  loading="lazy"
  {{- with (index site.Data.imgsize $src) }}
    width="600" height="{{ div (mul .height 600) .width }}"
  {{ end -}}
/>

<figcaption class="text-smaller text-muted p-2">
{{ .Get 1 | .Page.Render }}
</figcaption>
</figure>

