{{ define "head" }}
  {{ partial "jsonld" . }}  
  
  
<style>
.collapsible.collapsed {
  height: 200px;
  overflow-y: hidden;
  position: relative;
}

.collapsible.collapsed .collapse-overlay {
  display: block;
  width: 100%;
  height: 200px;
  top: 0px;
  position: absolute;
  background-image: linear-gradient(#fff0, #fffd, #ffff);
  pointer-events: none;
}

.collapse-background {
position: absolute;
height: 100%;
width: 100%
}

.collapsible .collapse-overlay {
  display: block;
  width: 100%;
  height: 100px;
}

.collapsible.collapsed .collapse-hide, .collapsible .collapse-show {
  display: block;
}

.collapsible .collapse-hide, .collapsible.collapsed .collapse-show {
  display: none;
}

</style>


{{ end }}


{{ define "main" }}

{{ $layout := .Params.design.layout | default "col-6 col-md-4"  }}
{{ $style := .Params.design.style | default "vertical" }}
{{ $page := partial "listpages" . }}

  <div class="bg-white">
    <div style="height: 40px; width: 100%"></div>

    <div class="container  pt-5 pb-5 mx-auto">
      <div class="row">

        <header class="col-12 pb-5 ">

        
          <h1 class="mt-2">{{ .Title }}</h1>
          {{ with .Description }}{{ . | markdownify }}{{ end }}

          <div class="mt-2 mb-5 pr-1">
          {{- partial "authors" (dict "page" . "class" "text-decoration-none") -}}
        </div>

         {{ with  index  .Params.amazon 0  }}
          <aside class="float-right text-center ml-3 mb-3" style="width: 300px; max-width: 40%;">
{{ $img :=  partial `imgcdn`  ( printf `http://images.amazon.com/images/P/%s.LZZZZZZZ.jpg` . )  }}

<a href="#related-articles">
  <img src='{{ $img }}?imgeng=/w_auto,400/' 
       style="width:100%; height: auto" 
       width=336 height=550 
       class="shadow"/>
</a>

            <div> 

            <a class="btn btn-dark mt-3" href="https://amazon.com/dp/{{ . }}/?tag=swamidass-20" target=_blank rel=sponsored>Purchase <span class="fa-stack">
 <i class="fas fa-circle fa-stack-2x"></i>
  <i class="fab fa-amazon fa-stack-1x text-dark "></i>
            </span></a>
            {{with $.Params.erratum }}
             <a href="{{ . | absURL }}" class="mt-3 btn btn-dark">Erratum</a>
            {{ end }}
            </div>
            
          </aside>
        {{ end }}
           
          <div style="max-width: 600px">
            {{- .Content -}}
          </div>
          
           

        </header>
        

        
{{ $groups := newScratch }}
{{ $group_order := slice }}

{{ range $page }}
  {{ $g := .Params.series | default "NONE" }}
  {{ $groups.Add $g (slice . ) }}
  {{ if not ( in $group_order $g ) }}
    {{ $group_order = $group_order | append $g }}
  {{ end }}
{{ end }}

{{ $grouped := slice }}
{{ range $group_order }}
   {{ $grouped = $grouped | append ($groups.Get . | group .)   }}
{{ end }}


{{ $N := 0 }}
{{ range $grouped }}
   {{ $N = add $N 1 }}
   
   {{ $params := dict "Text" `Related Articles` "Class" "heading-black w-100" }}
   {{ if ne .Key "NONE" }}
     {{ $s := site.GetPage "taxonomyterm" (printf "series/%s" .Key) }}
     {{ $params = dict "Text" ($s.Title | markdownify )  "Link" $s.Permalink  "Class" "heading-black w-100" }}
   {{ end }}
   
   
   <section class=row>
   {{ partial "heading" $params }}

   {{ $page = .Pages }}

	    {{- if gt (len $page) 6 }}
	        {{ range first 4 $page }} 
	          {{ partial "render" (dict "Page" .  "Style" $style "Layout"  $layout  ) }}       
	        {{ end }}
	
	        

	        <div id="post-collapse{{ $N }}" class=" collapsible collapsed" style="display:flex; flex-wrap: wrap"> 
	        {{- range after 4 $page -}}
	          {{ partial "render" (dict "Page" .  "Style" $style "Layout"  $layout  ) }}
	        {{ end -}}	        

	        <div  class="collapse-overlay col-12">
	           <div class=collapse-hide>
	           <a class="btn btn-primary mx-auto position-absolute shadow" style="top: 60%; left: 50%; transform: translateX(-50%);  pointer-events: auto;" role="button" 
	           onclick="document.getElementById('post-collapse{{ $N }}').classList.toggle('collapsed')">Show More</a>
	           </div>
	           <div class=collapse-show>
	           <a class="btn btn-primary mx-auto position-absolute shadow" style="bottom: 50%; left: 50%; transform: translateX(-50%);  pointer-events: auto;" role="button" 
	           onclick="document.getElementById('post-collapse{{ $N }}').classList.toggle('collapsed')">Show Less</a>
	           </div>
	        </div>
	       </div>
        
        {{ else }}
	        {{- range $page -}}
	          {{ partial "render" (dict "Page" .  "Style" $style "Layout"  $layout  ) }}
	        {{ end -}}        
        {{ end }}

 </section>
{{ end }}

  
 

      </div>
    </div>


{{ end }}
